body, button input, select, textarea {
  /* */
    font-family: lora, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;      /* was 1.88*/
    letter-spacing: 0;
    font-feature-settings: "liga" 1, "frac" 1, "onum" 1;
    scrollbar-color: #c62641 white;   
}

body h1,
body h2,
body h3,
body h4,
body h5 {
    font-family: 'Ibarra Real Nova', serif;
}


#horizontal_box {
    width: 100%;
    display: flex ;
    flex-direction: column;
    /* */
}

#article_input_side,
#article_preview_side {
    display: flex;
    flex-direction: column;    
    width: calc(50% - 6px); /* this need otherwise the scrollbar is shrink to 0 */
    /* */
}

#article_input_side {
    padding-left: 1em;
    padding-right: 0.5em;
}
#article_preview_side {
    padding-left: 0.5em;
    padding-right: 1em;
}


/* show or hide "article_main_pre" and "article_main" */
.result-as-html #article_main_pre {
    display: none;
    /* */
}
.result-as-html #article_main {
    display: block;
    /* */
    scrollbar-width: thin;
}
.result-as-src #article_main_pre,
.result-as-htmltex #article_main_pre,
.result-as-md #article_main_pre,
.result-as-mdp #article_main_pre,
.result-as-habr #article_main_pre {
    display: block;
    /* */
}
.result-as-src #article_main,
.result-as-htmltex #article_main,
.result-as-md #article_main,
.result-as-mdp #article_main,
.result-as-habr #article_main {
    display: none;
    /* */
}

/* switch between the menus */
.choicemenu #choicemenu,
.mur2menu #mur2menu,
.editor_toolbar #editor_toolbar {
    display: inline-block;
    /* */
}
.choicemenu #mur2menu,
.choicemenu #editor_toolbar,
.mur2menu #choicemenu,
.mur2menu #editor_toolbar,
.editor_toolbar #mur2menu,
.editor_toolbar #choicemenu {
    display: none;
    /* */
}

/* the main objcet of the page */
/* it is a class as there is multiple type of menu */
.topmenu {
    display: flex;    
    justify-content: space-between;
    
    display: -webkit-flex ; /* for 9 > Safari */
    -webkit-justify-content: space-between;

    justify-content: -webkit-space-between;/* for Safari */
    
    position: fixed;    
    width: 100%;
    left: 0;
    top: 0;
    height: 4em;    
    /* */    
    background-color: black;
    padding-left: 2em;
    padding-top: 1em;
}

#msg {
    position: fixed;   
    width: 100%;
    left: 0;
    /* it is the bottom of the .topmenu (margin+padding+height) */
    top: 4em;
    height: 2em;    
    /* */
    padding-left: 2em;
}

#maintext,
#container-block-source, 
#container-block-result {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed; 
    left: 0;
    /* the bottom of the #msg */
    top: 6em;
    height: calc(100% - 8em) ; 
    padding-left: 1em;  
    overflow: hidden;
    /* */
    padding: 2em;
    padding-top: 1ex;
    padding-right: 0;
}

#side_menu {
    width: 30em;
    height: 100%;
    position: fixed;
    right: 0;
    /* same possition than .undermain_menu*/
    top: 4em;
    height: calc(100% - 6em) ;
    overflow: slide;
    /* */
    background-color: #c62641;
    padding-left: 1em;
    padding-top: 1em;
}
#maintext:hover+#side_menu,
#container-block-source:hover+#side_menu, 
#container-block-result:hover+#side_menu {
    opacity: 0;
}

#foot {
    width: 100%;
    text-align: center;
    position: fixed; 
    left: 0;
    bottom: 0px;
    height: 2em;
    /* */
}

.ldt {
    height: 100%;
    /* */
    scrollbar-width: thin;
}

/* toolbar */
#editor_toolbar {
    display: flex;
    flex-direction: column;
    /* */
}

#slider {
    width: 6px;
    /* */
}

#article_main_pre, 
#article_main {
    overflow: auto;
    /* */
}

/* hide and show preview */
#article_preview_side.previewoff {
    display: none;
    /* */
}

#article_input_side.previewoff {
    /* */
    width: 100%;
    padding-right: 20%;
    padding-left: 20%; 
}

/* hide title and abstract */
#article_preview_side.titleoff #article_title,
#article_preview_side.titleoff #article_abstract,
#article_preview_side.titleoff #separator,
#article_input_side.titleoff #title-source,
#article_input_side.titleoff #abstact-source,
#article_input_side.titleoff .title_and_abstract,
#article_preview_side.titleoff .title_and_abstract 
{
    display:none;
    /* */
}

#side_menu.hide {
    display: none; 
    /* */
}

.control-input {
    display: none;
}

.control-item {
    /* background-color: rgba(255,0,0,.3); */
    color: #fff;
    background-clip: padding-box;
    border-color: transparent;
    border-style: solid;
    border-width: 9px 1px;
    height: 2.1em;
    min-width: 30px;
    padding: 0 4px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1; /* this is need because of the Font Awesome */
}
.control-item:hover {
    /* */
    border-bottom: solid white 1px;
}

.result-as-html div#article_title {
    /* */
    font-size: 4.8rem;
    line-height: 0.5;
}

.title_and_abstract {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30%;
    overflow: auto;
    min-height: 30%;
    /* */
    scrollbar-width: thin;
}

#article_abstract {
    margin-bottom: 2em;
    font-style: italic;
}

.separator {
    border-bottom: solid gray 1px;
    margin-left: 30%;
    margin-right: 30%;
    height: 1px;
}

.notfocused {
    color: grey;
    /* */
}

.focused {
    color: black;
    font-weight: bolder;
    /* */
}

/* for slowly disapering something */
.tran1 {
	-o-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}

/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #article_input_side.previewoff {
        /* */
        padding-right: 10%;
        padding-left: 10%; 
    }
    #foot {
        display: none;
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6em);
    }
}

/* iPad  in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #article_input_side.previewoff {
        /* */
        padding-right: 0;
        padding-left: 0; 
    }
    #foot {
        display: none;
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6em);
    }
}