body, button input, select {
  /* */
    font-family: lora, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;      /* was 1.88*/
    letter-spacing: 0;
    font-feature-settings: "liga" 1, "frac" 1;
    scrollbar-color: #c62641 white;   
}

.normalfont {
    font-family: lora, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;      /* was 1.88*/
    letter-spacing: 0;
    font-feature-settings: "liga" 1, "frac" 1;    
    font-variant: small-caps;
    letter-spacing: 1px;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
    font-family: 'Ibarra Real Nova', serif;
    position: relative; 
    top: 0.2em
}
body h1 .svg-preview,
body h2 .svg-preview,
body h3 .svg-preview,
body h4 .svg-preview,
body h5 .svg-preview{
    height: 1ex;
    width: auto;    
}

body h1 {
    font-size: 2.488em;
}
.result-as-html h1 .svg-preview{
    vertical-align: calc( 2.488 * var(--latex_align) ) !important ; 
    height:  calc( 2.488 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h2 {
    font-size: 2.074em;
}
.result-as-html h2 .svg-preview{
    vertical-align: calc( 2.074 * var(--latex_align) ) !important ; 
    height:  calc( 2.074 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h3 {
    font-size: 1.728em;
}
.result-as-html h3 .svg-preview{
    vertical-align: calc( 1.728 * var(--latex_align) ) !important ; 
    height:  calc( 1.728 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h4 {
    font-size: 1.44em;
}
.result-as-html h4 .svg-preview{
    vertical-align: calc( 1.44 * var(--latex_align) ) !important ; 
    height:  calc( 1.44 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h5 {
    font-size: 1.2em;
}
.result-as-html h5 .svg-preview{
    vertical-align: calc( 1.2 * var(--latex_align) ) !important ; 
    height:  calc( 1.2 * var(--latex_height) ) !important ;
    width: auto !important ;    
}


#horizontal_box {
    width: 100%;
    display: flex ;
    flex-direction: column;
    /* */
}

#article_input_side,
#article_preview_side {
    display: flex;
    flex-direction: column;    
    width: calc(50% - 6px); /* this need otherwise the scrollbar is shrink to 0 */
    /* */
}

#article_input_side {
    padding-left: 1em;
    padding-right: 0.5em;
}
#article_preview_side {
    padding-left: 0.5em;
    padding-right: 1em;
}


/* show or hide "article_main_pre" and "article_main" */
.result-as-html #article_main_pre {
    display: none;
    /* */
}
.result-as-html #article_main {
    display: block;
    /* */
    scrollbar-width: thin;
}
.result-as-src #article_main_pre,
.result-as-htmltex #article_main_pre,
.result-as-md #article_main_pre,
.result-as-mdp #article_main_pre,
.result-as-habr #article_main_pre {
    /* display: block; */
    opacity: 1;
    /* */
}
.result-as-src #article_main,
.result-as-htmltex #article_main,
.result-as-md #article_main,
.result-as-mdp #article_main,
.result-as-habr #article_main {
    /* display: none; */
    opacity: 0;
    /* */
}

#side_menu, 
#editor_toolbar {
    display: none;
}

/* switch between the menus */
.choicemenu #choicemenu,
.side_menu #side_menu,
.editor_toolbar #editor_toolbar {
    display: flex;
    /* */
}

/* the main objcet of the page */
/* it is a class as there is multiple type of menu */
.topmenu {
    display: flex;    
    justify-content: space-between;
    
    display: -webkit-flex ; /* for 9 > Safari */
    -webkit-justify-content: space-between;

    justify-content: -webkit-space-between;/* for Safari */
    
    position: fixed;    
    width: 100%;
    left: 0;
    top: 0;
    height: 3.5em;    
    /* */    
    background-color: black;
    padding-left: 2em;
    padding-top: 0.7em;
}

#msg {
    position: fixed;   
    width: 100%;
    left: 0;
    /* it is the bottom of the .topmenu (margin+padding+height) */
    top: 3.5em;
    height: 2em;    
    overflow: hidden;
    /* */
    padding-left: 2em;
}

#maintext,
#container-block-source, 
#container-block-result {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed; 
    left: 0;
    /* the bottom of the #msg */
    top: 5.5em;
    height: calc(100% - 5.2em) ; 
    padding-left: 1em;  
    overflow: hidden;
    /* */
    padding: 2em;
    padding-top: 1ex;
    padding-right: 0;
}

#side_menu {
    min-width: 25rem;
    max-width: 35rem;
    height: 100%;
    position: fixed;
    right: 0;
    /* same possition than .undermain_menu*/
    top: 0;
    height: 100% ;
    /* */
    background-color: #c62641;
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-right: 0.7rem;
    flex-direction: column;
    z-index: 20;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: thin;
    letter-spacing: 1px;
    font-variant: small-caps;
}

#mcs,
#side_export {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#maintext:hover+#menu #side_menu,
#container-block-source:hover+#menu #side_menu, 
#container-block-result:hover+#menu #side_menu {
    opacity: 0;
}
/* for slowly disapering something */
.tran1 {
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#side_top{
    display: flex;
    flex-direction: column;
}

#foot {
    width: 100%;
    height: 2em;
    text-align: left;
    /* */
    font-variant: normal;
    padding-left: 0.61rem;
}

.ldt-pre,
textarea {
    /* */
    font-family: 'DM Mono', sans-serif !important; 
    line-height: 1.4; /* this need to be same than in the body */
    font-feature-settings: "liga" 0, "frac" 0;
}

.ldt{
    height: 100%;
    /* */
    scrollbar-width: thin;    
}

/* toolbar */
#editor_toolbar {
    flex-direction: row;
    /* */
}

#slider {
    width: 6px;
    /* */
}

#article_main_pre, 
#article_main {
    overflow: auto;
    /* */
}

/* hide and show preview */
#article_preview_side.previewoff,
#article_input_side.inputoff {
    display: none;
    /* */
}
#article_input_side.previewoff,
#article_preview_side.inputoff {
    /* */
    width: 100%;
    margin-right: 20%;
    margin-left: 20%; 
    scrollbar-width: thin;
}

#article_preview_side.inputoff {
    overflow: auto;
}
#article_preview_side.inputoff #article_main {
    overflow: unset;
}


#article_preview_side.inputoff  .title_and_abstract,
#article_preview_side.inputoff  .title_and_abstract #article_title, 
#article_preview_side.inputoff  .title_and_abstract #article_abstract {
    display: flex;
    min-height: unset;
    overflow: unset;
    height: unset;
}

/* hide title and abstract */
#article_preview_side #article_title,
#article_preview_side #article_abstract,
#article_preview_side #separator,
#article_input_side #title-source,
#article_input_side #abstact-source,
#article_input_side .title_and_abstract,
#article_preview_side .title_and_abstract 
{
    display:none;
    /* */
}
#article_preview_side.titleon #article_title,
#article_preview_side.titleon #article_abstract,
#article_preview_side.titleon #separator,
#article_input_side.titleon #title-source,
#article_input_side.titleon #abstact-source,
#article_input_side.titleon .title_and_abstract,
#article_preview_side.titleon .title_and_abstract 
{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* */
}
#article_input_side.titleon #title-source {
    height: 3.5rem;
    text-align: center;
}
#article_preview_side.titleon .title_and_abstract + #article_main,
#article_input_side.titleon .title_and_abstract + .ldt {
    display: none;
}

/* color the toolbar bottom */
#id_hide_input + .far.fa-arrow-alt-circle-left,
#id_hide_preview + .far.fa-arrow-alt-circle-right, 
#id_show_title + .far.fa-arrow-alt-circle-down,
#id_sidemenu.hide + .fas.fa-bars,
#id_syntax_hl.focusmode + .fab.fa-markdown
 {
    /* */
    color: white;
}

#id_hide_input.inputoff + .far.fa-arrow-alt-circle-left, 
#id_hide_preview.previewoff + .far.fa-arrow-alt-circle-right, 
#id_show_title.titleon + .far.fa-arrow-alt-circle-down, 
#id_sidemenu + .fas.fa-bars,
#id_syntax_hl + .fab.fa-markdown {
    color: #C62641;
}


/* switch off the radio bottom display next to the toolbar bottoms */
.control-input {
    display: none;
    /* */
}

.control-item {
    color: #fff;
    background-clip: padding-box;
    min-width: 1.8em;
    padding: 0.3rem 2rem 0.3rem 0;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    /* */
    fill: white;
    text-decoration: none;
    text-align: left;
    height: 1.6em;
    width: max-content;
}

.toolbar:hover ,
.control-item:hover {
    /* */
    border-bottom: solid white 1px;
}

.toolbar {
    color: #fff;
    background-clip: padding-box;
    min-width: 1.8em;
    padding: 0.3rem ;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    /* */
    fill: white;
    text-decoration: none;
    text-align: center;
    height: 1.6em;
    width: max-content;
}

#choicemenu {
    background-color: white;
}
#choicemenu label {
    color: black;
    background-color: white;
}

.result-as-html div#article_title {
    /* */
    --size: 2.986;
    font-size: 2.986em;
    line-height: 1;
    text-align: left;
    font-family: 'Ibarra Real Nova', serif;
}
.result-as-html div#article_title .svg-preview{
    vertical-align: calc( 2.986 * var(--latex_align) ) !important ; 
    height:  calc( 2.986 * var(--latex_height) ) !important ;
    width: auto !important ;    
}

.title_and_abstract {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30%;
    overflow: auto;
    min-height: 30%;
    /* */
    scrollbar-width: thin;
}

#article_abstract {
    margin-bottom: 2rem;
    text-align: left;
}

.separator {
    border-top: solid gray 1px;
    margin-left: 0%;
    margin-right: 60%;
    min-height: 1em;
    margin-bottom: 1em;
}

.notfocused {
    color: grey;
    /* */
}

.focused {
    color: black;
    /* */
}

.sidebarLinks {
    padding-bottom: 1rem;
    padding-left: 0.61rem;  
    display: flex;
    flex-direction: column;
}

.headsidebar {
    position: relative;
    left: -0.61rem;
    border-left: 1px white solid;
    border-top: 1px solid white;
    padding-left: 0.61rem;
}

/* search */
#search {
    display: none;
}
#search input {
    width: 100%;
    height: 2em;
}
#id_search:checked ~ #search {
    display: inline-block;
    width: 100%;
}
#id_search:checked + #mur2menutop {
    display: none;
}
#mur2menutop {
    /* */
    width: calc( 100% + 1rem);
    height: 2.8rem;
    border-bottom: solid 1px white;
    text-align: right;
    position: relative;
    left: -1rem;
}
#mur2menutop .control-item {
    padding-right: 0;
}
/* markdown cheatsheet */
#markdown_cheat_sheet {
    display: none;
    font-family: 'DM Mono';
    font-size: 14px;
    font-variant: normal;
    padding-left: .61rem;
}
#id_mcs:checked ~ #markdown_cheat_sheet {
    display: block;
    color: white;
    opacity: 1;
}
#id_mcs:checked ~ #first_menu {
    display: none;
}
#markdown_cheat_sheet h3 {
    font-family: 'DM Mono', sans-serif !important; 
    line-height: 1.4; 
    border-top: solid white 1px;
    border-left: solid white 1px;
    padding-left: 0.61rem;
    position: relative;
    left: -.61rem;
    width: calc(100% + .61rem);
}

#markdown_cheat_sheet pre {
    font-family: 'DM Mono', sans-serif !important; 
    line-height: 1.4; 
}
.headmarkdowncs {
    width:100%;
    height: 1.8rem;
    text-align: right;    
}



/* iPad in landscape */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #article_input_side.previewoff,
    #article_preview_side.inputoff {
        /* */
        margin-right: 10%;
        margin-left: 10%; 
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6rem);
    }
}

/* iPad  in portrait */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #article_input_side.previewoff, 
    #article_preview_side.inputoff {
        /* */
        margin-right: 0;
        margin-left: 0; 
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6em);
    }
}



