body, button input, select {
  /* */
    font-family: lora, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;      /* was 1.88*/
    letter-spacing: 0;
    font-feature-settings: "liga" 1, "frac" 1;
    scrollbar-color: #c62641 white;   
}

body h1,
body h2,
body h3,
body h4,
body h5 {
    font-family: 'Ibarra Real Nova', serif;
}
body h1 .svg-preview,
body h2 .svg-preview,
body h3 .svg-preview,
body h4 .svg-preview,
body h5 .svg-preview{
    height: 1ex;
    width: auto;    
}

body h1 {
    font-size: 2.488em;
}
.result-as-html h1 .svg-preview{
    vertical-align: calc( 2.488 * var(--latex_align) ) !important ; 
    height:  calc( 2.488 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h2 {
    font-size: 2.074em;
}
.result-as-html h2 .svg-preview{
    vertical-align: calc( 2.074 * var(--latex_align) ) !important ; 
    height:  calc( 2.074 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h3 {
    font-size: 1.728em;
}
.result-as-html h3 .svg-preview{
    vertical-align: calc( 1.728 * var(--latex_align) ) !important ; 
    height:  calc( 1.728 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h4 {
    font-size: 1.44em;
}
.result-as-html h4 .svg-preview{
    vertical-align: calc( 1.44 * var(--latex_align) ) !important ; 
    height:  calc( 1.44 * var(--latex_height) ) !important ;
    width: auto !important ;    
}
body h5 {
    font-size: 1.2em;
}
.result-as-html h5 .svg-preview{
    vertical-align: calc( 1.2 * var(--latex_align) ) !important ; 
    height:  calc( 1.2 * var(--latex_height) ) !important ;
    width: auto !important ;    
}


#horizontal_box {
    width: 100%;
    display: flex ;
    flex-direction: column;
    /* */
}

#article_input_side,
#article_preview_side {
    display: flex;
    flex-direction: column;    
    width: calc(50% - 6px); /* this need otherwise the scrollbar is shrink to 0 */
    /* */
}

#article_input_side {
    padding-left: 1em;
    padding-right: 0.5em;
}
#article_preview_side {
    padding-left: 0.5em;
    padding-right: 1em;
}


/* show or hide "article_main_pre" and "article_main" */
.result-as-html #article_main_pre {
    display: none;
    /* */
}
.result-as-html #article_main {
    display: block;
    /* */
    scrollbar-width: thin;
}
.result-as-src #article_main_pre,
.result-as-htmltex #article_main_pre,
.result-as-md #article_main_pre,
.result-as-mdp #article_main_pre,
.result-as-habr #article_main_pre {
    display: block;
    /* */
}
.result-as-src #article_main,
.result-as-htmltex #article_main,
.result-as-md #article_main,
.result-as-mdp #article_main,
.result-as-habr #article_main {
    display: none;
    /* */
}

/* switch between the menus */
.choicemenu #choicemenu,
.mur2menu #mur2menu,
.editor_toolbar #editor_toolbar {
    display: flex;
    /* */
}
.choicemenu #mur2menu,
.choicemenu #editor_toolbar,
.mur2menu #choicemenu,
.mur2menu #editor_toolbar,
.editor_toolbar #mur2menu,
.editor_toolbar #choicemenu {
    display: none;
    /* */
}

/* the main objcet of the page */
/* it is a class as there is multiple type of menu */
.topmenu {
    display: flex;    
    justify-content: space-between;
    
    display: -webkit-flex ; /* for 9 > Safari */
    -webkit-justify-content: space-between;

    justify-content: -webkit-space-between;/* for Safari */
    
    position: fixed;    
    width: 100%;
    left: 0;
    top: 0;
    height: 4em;    
    /* */    
    background-color: black;
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
}

#msg {
    position: fixed;   
    width: 100%;
    left: 0;
    /* it is the bottom of the .topmenu (margin+padding+height) */
    top: 4em;
    height: 2em;    
    /* */
    padding-left: 2em;
}

#maintext,
#container-block-source, 
#container-block-result {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed; 
    left: 0;
    /* the bottom of the #msg */
    top: 6em;
    height: calc(100% - 8em) ; 
    padding-left: 1em;  
    overflow: hidden;
    /* */
    padding: 2em;
    padding-top: 1ex;
    padding-right: 0;
}

#mur2menu {
    display: flex;
    flex-direction: row;
    
}

#mur2menu a {
    text-decoration: none;
}

#side_menu {
    width: 30em;
    height: 100%;
    position: fixed;
    right: 0;
    /* same possition than .undermain_menu*/
    top: 4em;
    height: calc(100% - 6em) ;
    overflow: slide;
    /* */
    background-color: #c62641;
    padding-left: 1em;
    padding-top: 1em;
}
#maintext:hover+#side_menu,
#container-block-source:hover+#side_menu, 
#container-block-result:hover+#side_menu {
    opacity: 0;
}

#foot {
    width: 100%;
    text-align: center;
    position: fixed; 
    left: 0;
    bottom: 0px;
    height: 2em;
    /* */
}

.ldt-pre,
textarea {
    /* */
    font-family: 'DM Mono', sans-serif !important; 
    line-height: 1.4; /* this need to be same than in the body */
}

.ldt{
    height: 100%;
    /* */
    scrollbar-width: thin;    
}

/* toolbar */
#editor_toolbar {
    display: flex;
    flex-direction: column;
    /* */
}

#slider {
    width: 6px;
    /* */
}

#article_main_pre, 
#article_main {
    overflow: auto;
    /* */
}

/* hide and show preview */
#article_preview_side.previewoff,
#article_input_side.inputoff {
    display: none;
    /* */
}
#article_input_side.previewoff,
#article_preview_side.inputoff {
    /* */
    width: 100%;
    margin-right: 20%;
    margin-left: 20%; 
    scrollbar-width: thin;
}

#article_preview_side.inputoff {
    overflow: auto;
}
#article_preview_side.inputoff #article_main {
    overflow: unset;
}


#article_preview_side.inputoff  .title_and_abstract,
#article_preview_side.inputoff  .title_and_abstract #article_title, 
#article_preview_side.inputoff  .title_and_abstract #article_abstract {
    display: flex;
    min-height: unset;
    overflow: unset;
    height: unset;
}

/* hide title and abstract */
#article_preview_side #article_title,
#article_preview_side #article_abstract,
#article_preview_side #separator,
#article_input_side #title-source,
#article_input_side #abstact-source,
#article_input_side .title_and_abstract,
#article_preview_side .title_and_abstract 
{
    display:none;
    /* */
}
#article_preview_side.titleon #article_title,
#article_preview_side.titleon #article_abstract,
#article_preview_side.titleon #separator,
#article_input_side.titleon #title-source,
#article_input_side.titleon #abstact-source,
#article_input_side.titleon .title_and_abstract,
#article_preview_side.titleon .title_and_abstract 
{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* */
}
#article_input_side.titleon #title-source {
    height: 3.5rem;
    text-align: center;
}
#article_preview_side.titleon .title_and_abstract + #article_main,
#article_input_side.titleon .title_and_abstract + .ldt {
    display: none;
}


#side_menu.hide {
    display: none; 
    /* */
}
/* color the toolbar bottom */
#id_hide_input + .far.fa-arrow-alt-circle-left,
#id_hide_preview + .far.fa-arrow-alt-circle-right, 
#id_show_title + .far.fa-arrow-alt-circle-down,
#id_sidemenu.hide + .fas.fa-bars,
#id_syntax_hl.focusmode + .fab.fa-markdown
 {
    /* */
    color: white;
}

#id_hide_input.inputoff + .far.fa-arrow-alt-circle-left, 
#id_hide_preview.previewoff + .far.fa-arrow-alt-circle-right, 
#id_show_title.titleon + .far.fa-arrow-alt-circle-down, 
#id_sidemenu + .fas.fa-bars,
#id_syntax_hl + .fab.fa-markdown {
    color: #C62641;
}


/* switch off the radio borrom display next to the toolbar bottoms */
.control-input {
    display: none;
    /* */
}

.control-item {
    /* background-color: rgba(255,0,0,.3); */
    color: #fff;
    background-clip: padding-box;
    border-color: transparent;
    border-style: solid;
    border-width: 9px 1px;
    height: 2.1rem;
    min-width: 1.8rem;
    padding: 0 4px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1; /* this is need because of the Font Awesome */
    /* */
}
.control-item:hover {
    /* */
    border-bottom: solid white 1px;
}

.result-as-html div#article_title {
    /* */
    --size: 2.986;
    font-size: 2.986em;
    line-height: 1;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
}
.result-as-html div#article_title .svg-preview{
    vertical-align: calc( 2.986 * var(--latex_align) ) !important ; 
    height:  calc( 2.986 * var(--latex_height) ) !important ;
    width: auto !important ;    
}

.title_and_abstract {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30%;
    overflow: auto;
    min-height: 30%;
    /* */
    scrollbar-width: thin;
}

#article_abstract {
    margin-bottom: 2rem;
    text-align: center;
}

.separator {
    border-top: solid gray 1px;
    margin-left: 30%;
    margin-right: 30%;
    min-height: 1em;
    margin-bottom: 1em;
}

.notfocused {
    color: grey;
    /* */
}

.focused {
    color: black;
    /* */
}

/* for slowly disapering something */
.tran1 {
	-o-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}

/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #article_input_side.previewoff,
    #article_preview_side.inputoff {
        /* */
        padding-right: 10%;
        padding-left: 10%; 
    }
    #foot {
        display: none;
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6rem);
    }
}

/* iPad  in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #article_input_side.previewoff, 
    #article_preview_side.inputoff {
        /* */
        padding-right: 0;
        padding-left: 0; 
    }
    #foot {
        display: none;
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6em);
    }
}



