

.normalfont {
    line-height: 1.4;      /* was 1.88*/
    letter-spacing: 0;
    font-feature-settings: "liga" 1, "frac" 1;    
    letter-spacing: 1px;
}



#article_input_side,
#article_preview_side {
    display: flex;
    flex-direction: column;    
    width: calc(50% - 6px); /* this need otherwise the scrollbar is shrink to 0 */
    /* */
}

#article_input_side {
    padding-left: 1em;
    padding-right: 0.5em;
}
#article_preview_side {
    padding-left: 6.74em;
    overflow-x: visible;
    overflow-y: auto;
}


/* show or hide "article_main_pre" and "article_main" */
.result-as-html #article_main_pre {
    display: none;
    /* */
}
.result-as-html #article_main {
    display: block;
    /* */
    scrollbar-width: thin;
}
.result-as-src #article_main_pre,
.result-as-htmltex #article_main_pre,
.result-as-md #article_main_pre,
.result-as-mdp #article_main_pre,
.result-as-habr #article_main_pre {
    display: block; 
    /* */
    padding: 0;
    font-family: inherit;
}
.result-as-src #article_main,
.result-as-htmltex #article_main,
.result-as-md #article_main,
.result-as-mdp #article_main,
.result-as-habr #article_main {
    display: none;
    /* */
}

.result-as-src  #article_preview_side div#article_title,
.result-as-htmltex  #article_preview_side div#article_title,
.result-as-md #article_preview_side div#article_title,
.result-as-mdp  #article_preview_side div#article_title,
.result-as-habr  #article_preview_side div#article_title {
    font-size: inherit;
    line-height: unset;
    left: 0;
}

#side_menu, 
#editor_toolbar {
    display: none;
}

/* switch between the menus */
.choicemenu #choicemenu,
#id_side_menu:checked ~ #menu #side_menu,
.editor_toolbar #editor_toolbar {
    display: flex;
    /* */
}

.editor_toolbar #editor_toolbar {
    padding-right: 1.685rem;
}

/* the main objcet of the page */

#container-block-source, 
#container-block-result {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed; 
    left: 0;
    /* the bottom of the #msg */
    top: 5.5em;
    height: calc(100% - 5.2em) ; 
    padding-left: 1em;  
    overflow: auto;
    /* */
    padding: 2em;
    padding-top: 1ex;
    padding-right: 0;
}

#finish_editing,
#mcs,
#side_export {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#maintext:hover+#menu #side_menu,
#container-block-source:hover+#menu #side_menu, 
#container-block-result:hover+#menu #side_menu {
    opacity: 0;
}
/* for slowly disapering something */
.tran1 {
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}


.ldt-pre,
textarea,
.ldt, 
.ldt pre, 
.ldt textarea {
    /* */
    line-height: 1.4; /* this need to be same than in the body */
    font-feature-settings: "liga" 0, "frac" 0;
}

.ldt{
    height: 100%;
    /* */
    scrollbar-width: thin;    
}

/* toolbar */
#editor_toolbar {
    flex-direction: row;
    /* */
}

#slider {
    width: 6px;
    /* */
}

#article_main_pre, 
#article_main {
    overflow-y: auto;
    margin-left: -6.74rem;
    padding-left: 6.74em;
    /* */
    scrollbar-width: thin;
}

/* hide and show preview */
#article_preview_side.previewoff,
#article_input_side.inputoff {
    display: none;
    /* */
}
#article_input_side.previewoff,
#article_preview_side.inputoff {
    /* */
    width: 100%;
    margin-right: 20%;
    margin-left: 20%; 
    scrollbar-width: thin;
}

#article_preview_side.inputoff {
    overflow: auto;
}
#article_preview_side.inputoff #article_main {
    overflow: unset;
}


#article_preview_side.inputoff  .title_and_abstract,
#article_preview_side.inputoff  .title_and_abstract #article_title, 
#article_preview_side.inputoff  .title_and_abstract #article_abstract_div {
    display: flex;
    min-height: unset;
    overflow: unset;
    height: unset;
}

/* hide title and abstract */
#article_preview_side #article_title,
#article_preview_side #article_abstract_div,
#article_preview_side #separator,
#article_input_side #title-source,
#article_input_side #abstact-source,
#article_input_side .title_and_abstract,
#article_preview_side .title_and_abstract 
{
    display:none;
    /* */
}
#article_preview_side.titleon #article_title,
#article_preview_side.titleon #article_abstract_div,
#article_preview_side.titleon #separator,
#article_input_side.titleon #title-source,
#article_input_side.titleon #abstact-source,
#article_input_side.titleon .title_and_abstract,
#article_preview_side.titleon .title_and_abstract 
{
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    /* */
}
#article_input_side.titleon #title-source {
    height: 3.5rem;
    text-align: center;
}
#article_preview_side.titleon .title_and_abstract + #article_main,
#article_preview_side.titleon .title_and_abstract ~ #article_main_pre,
#article_input_side.titleon .title_and_abstract + .ldt {
    display: none;
}

/* color the toolbar bottom */
#id_hide_input + .far.fa-arrow-alt-circle-left,
#id_hide_preview + .far.fa-arrow-alt-circle-right, 
#id_show_title + .far.fa-arrow-alt-circle-down,
#id_sidemenu.hide + .fas.fa-bars,
#id_syntax_hl.focusmode + .fab.fa-markdown
 {
    /* */
    color: white;
}

#id_hide_input.inputoff + .far.fa-arrow-alt-circle-left, 
#id_hide_preview.previewoff + .far.fa-arrow-alt-circle-right, 
#id_show_title.titleon + .far.fa-arrow-alt-circle-down, 
#id_side_menu:checked ~ #menu #editor_toolbar .fas.fa-bars,
#id_syntax_hl + .fab.fa-markdown {
    color: #C62641;
}


.toolbar:hover {
    /* */
    border-bottom: solid white 1px;
}

.toolbar {
    color: #fff;
    background-clip: padding-box;
    padding: 0.3rem ;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    /* */
    fill: white;
    text-decoration: none;
    text-align: center;
    height: 1.6em;
    width: max-content;
}

#choicemenu {
    background-color: white;
}
#choicemenu label {
    color: black;
    background-color: white;
}

.result-as-html div#article_title {
    /* */
    --size: 2.986;
    font-size: 2.986em;
    line-height: 1;
    text-align: left;
}
.result-as-html div#article_title .svg-preview{
    vertical-align: calc( 2.986 * var(--latex_align) ) !important ; 
    height:  calc( 2.986 * var(--latex_height) ) !important ;
    width: auto !important ;    
}

.title_and_abstract {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30%;
    overflow: auto;
    min-height: 30%;
    /* */
    scrollbar-width: thin;
    overflow-y: auto;
    margin-left: -6.74rem;
    padding-left: 6.74em;
}


.notfocused {
    color: grey;
    /* */
}

.focused {
    color: black;
    font-weight: bold;
    /* */
}

.headsidebar {
    position: relative;
    left: -0.61rem;
    border-left: 1px white solid;
    border-top: 1px solid white;
    padding-left: 0.61rem;
}

/**********************************
 * feature img
 */

#id_featureImage * {
    color: black;
}

#id_featureImage .toolbar:hover {
    border-bottom: solid black 1px;
}

/**********************************
 * markdown cheatsheet 
 */
#markdown_cheat_sheet {
    display: none;
    font-family: 'DM Mono';
    font-size: 14px;
    font-variant: normal;
    padding-left: .61rem;
    text-transform: initial;
}
#id_mcs:checked ~ #markdown_cheat_sheet {
    display: block;
    color: white;
    opacity: 1;
}
#id_mcs:checked ~ #first_menu {
    display: none;
}
#markdown_cheat_sheet h3 {
    font-family: 'DM Mono', sans-serif !important; 
    line-height: 1.4; 
    border-top: solid white 1px;
    border-left: solid white 1px;
    padding-left: 0.61rem;
    position: relative;
    left: -.61rem;
    width: calc(100% + .61rem);
}

#markdown_cheat_sheet pre {
    font-family: 'DM Mono', sans-serif !important; 
    line-height: 1.4; 
}
.headmarkdowncs {
    width:100%;
    height: 1.8rem;
    text-align: right;    
}

#article_preview_side.titleon #article_abstract_div {
    display: block;    
}

#article_abstract_div #article_abstract_text {
    margin: unset;
}

/**********************************
 * keywords from https://stackoverflow.com/questions/59636362/how-to-make-a-text-input-field-take-in-keywords
 */
.multi-search-filter{
    border: 1px solid black;
    padding:3px;
}
.multi-search-filter > input {
    border: 0px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
}
.multi-search-item {
    margin: 2px;
    padding: 2px 24px 2px 8px;
    float: left;
    display: flex;
    background-color: #c62641 ;
    color: white;
    border-radius: 3px;
    position: relative;
}
.multi-search-item > span {
    line-height:  1.685rem;;
}
.multi-search-item > .fa {
    font-size: 12px;
    line-height: 1.685rem;;
    margin-left: 8px;
    position: absolute;
    right: 8px;
    top: 2px;
}

/* **********************************************
 * Modal window 
*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  height: 4.5rem;
}

.modal-header h2 {
    margin: unset;
    left: unset;
}
.modal-body {
    height: calc( 90% - 4.5rem);
    padding: 2px 16px;
}

#editor_iframe {
    height: 100%;
    padding: unset;
    margin: unset;
}


#textype + #reviewsettings {
    display: none;
}
#textype[selectedvalue="Review"] + #reviewsettings {
    display: block;
}


/* **********************************************
 * Media settings
*/
/* iPad in landscape */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #article_input_side.previewoff,
    #article_preview_side.inputoff {
        /* */
        margin-right: 10%;
        margin-left: 10%; 
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6rem);
    }
}

/* iPad  in portrait */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #article_input_side.previewoff, 
    #article_preview_side.inputoff {
        /* */
        margin-right: 0;
        margin-left: 0; 
    }
    #maintext,
    #container-block-source, 
    #container-block-result {
        height: calc(100% - 6em);
    }
}

