


/*  Settings for displaying Artilce */
#article_title {
    font-size: 300%;
    text-align: center;
    line-height: 0;
}

#article_title img {
    height: 1ex;
}

#article_abstract {
    font-style: italic;
    text-align: center;
    padding-bottom: 3ex;
}

#article {
    padding-bottom: 4em;
    padding-left: 3em;
    padding-right: 3em;
}

.separator {
    width: 30%;
    border-bottom: black solid 1px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 6em;
}

#layout__panel {
    position: relative;
    width: 2%;
    height: 100%;
    flex: none;
    overflow: hidden;
}

.toolbar-button {
    border: 0px;    
    height: 25px;
    padding: 2px;
    margin: 3px 0;
    background-color: white;
    display: inline-block;
}

#title-source,
#abstact-source, 
.editor_title_and_abstract {
    width: 100%;
    background-color: white;
    scrollbar-width: thin;
}

#abstact-source {
    height: 80%;
}

.title_and_abstract{
    display: none;
    width: 100%;
}

#side_menu {
    background-color: #C8C8C8;
    width: 30em;
    height: 100%;
    position: fixed;
    right: 0;
    /* same possition than .undermain_menu*/
    top: 29px;
}

#container-block-result,
#container-block-source {
    /* the minus is the size of the top menu */
    height: calc(100% - 65px);
    top: 80px;
    display: inline-block;
}

/* overwrite upmath.css */
.ldt pre, .ldt textarea {
    padding: 0;
}

#source-block, #result-block, #slider{
    /* The minus is the size of the .editor_toolbar + #foot + .title_and_abstract */
    height: calc(100% - 90px);
}

/* format the text in the editor */
.ldt.source.full-height {
    border-top: 1px solid gray;
}

/* add to upmath.css settings */
.slider {
    background-color: white;
}

#editor_title {
    height: 20%;
}

#editor_abstract {
    height: 80%;
}

#editor_msg {
    position: fixed;
    background-color: white;    
    width: 100%;
    left: 0;
    top: 60px;
    height: 20px;
    padding-left: 16px;
    color: red;
}

.notfocused {
    /* display: none; */
    color: grey;
}

.focused {
    /* display: none; */
    color: black;
}

.result-as-mdp .result-src {
    display: block;
}

/* there is something which setting the padding not 0 on smaller screen 
    we need to prevent this as the texfiled and the pre is not covering each other 
*/
#editor-source {
        padding: 0px !important;
}

#result-block code {
    padding: 2px 4px;
font-size: 90%;
color: #c7254e;
background-color: #f9f2f4;
border-radius: 4px;
}

#result-block pre {
    display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857143;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #f5f5f5;
border: 1px solid #ccc;
}

#result-block table {
    margin-bottom: 20px;
    border-collapse: collapse;
}

#result-block tr:nth-child(even) {
  background-color: #f2f2f2;
}
#result-block a {
    color: #428bca;
}