body, button input, select {
  /* */
    font-family: liberation-serif, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5; 
    letter-spacing: 0;
    font-feature-settings: "liga" 1; 
    font-kerning: normal;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
    font-family: 'Ibarra Real Nova', serif; 
    font-weight: 400;
    letter-spacing: -0.01em;
    font-kerning: normal;
    margin-bottom: 1.685rem;
    margin-top: 5.055rem;;
}