body, button input, select {
    /* */
    font-family: source-han-serif-sc, liberation-serif, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5; 
    letter-spacing: 0;
}

.normalfont {
    font-family: source-han-serif-sc, liberation-serif, serif; 
}
