body, button input, select {
    /* */    
    font-family: source-han-sans-simplified-c, sans-serif;
}

.normalfont {
    font-family: source-han-sans-simplified-c, sans-serif; 
}

.result-as-html div#article_title,
body h1, body h2, body h3, body h4, body h5 {
    font-family: source-han-serif-sc, serif;
}

body span#article_title, body span#article_title p {
    font-family: source-han-serif-sc, source-han-sans-simplified-c, serif;
}

.ldt, 
.ldt pre, 
.ldt textarea,
.ldt-pre, textarea {
    font-family: source-han-sans-simplified-c, sans-serif;
}


