body, button input, select, textarea {
  font-family: 'Domine';
  line-height: 1.2;         /* Was 1.88*/
  letter-spacing: -0.0125em; /* Was 0   */
  word-spacing: -0.1em;
  font-size: 1em;
}

body {
  display: flex;  
  flex-flow: row wrap;
  text-align: left;
}

body > * {
  padding: 0.625em;
  flex: 1 100%;
}

#maintext {
  position: fixed;
  text-align: left;
  padding-left: 1em;
  top: 3em;
}

.normalfontweight {
    font-weight: 100;
}

a, a:link, #mur2menu a:visited  {
    text-decoration: none;
}

.control-item {
 color: white;
}

#mur2menu {
    display: flex;
    font-weight: 600;
}

#topmenu-left {
    float: left;   
    margin: 0 1em;
}

#topmenu-right {
    float: right;   
    margin: 0 1em;
    cursor: pointer;
}

input[type=text], input[type=submit], input[type=password] {
  box-sizing: border-box;
  background-color: white;
  border: medium solid whitesmoke;
  border-radius: 0.25em;
  padding: 0.1875em 0.1875em
  text-align: left;
}

input[type=submit], input[type=file] {
  cursor: pointer;
}

.menufont {
    font-size: 1.125em;
    font-family: 'Josefin Sans'; 
}

.topmenu {
  display: flex;
  position: fixed;
  text-align: left;
  background: black;               /* Was whitesmoke */
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  /*height: 4em;*/ 
  padding-left: 1em;
  padding-top: 1em;
}

.toolbar-button:hover {
  /* background: whitesmoke;                  Was rgba(247,247,247,.5)*/
  transition: all .15s ease-in-out;
}

.toolbar-button, a {
  color: white;
  text-decoration: none;
  padding-right: 0.5em;
}

.main_content {
  text-align: left;
  background: white;
}

#msg {
  background: whitesmoke;
}

#msg ul, li {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  color: red;
}

#foot {
  text-align: center;
  background: white;
}

@media all and (min-width: 800px) {
  #maintext { flex: 3 0px; }
  #msg          { order: 1; } 
  #maintext { order: 2; }
  #foot         { order: 4; }
}

/* File upload custom
input[type="file"] {
    display: none;
} */

/* hide the M form the top menu 
   this settings should not be on the editor css
*/
#mur2menu #id_choicemenu {
    display: none;
    /* */
}
#mur2menu #id_choicemenu + .control-item {
    display: none;
    /* */
}