body, button input, select, textarea {
  font-family: 'Domine';
  line-height: 1.2;      /* was 1.88*/
  letter-spacing: 0;
  font-size: 16px;
}

body {
  display: flex;  
  flex-flow: row wrap;
  text-align: left;
}

body > * {
  padding: 10px;
  flex: 1 100%;
}

.normalfontweight {
    font-weight: 100;
}

a, a:link, #mur2menu a:visited  {
    text-decoration: none;
    color: #000;
}

#mur2menu {
    display: flex;
    font-weight: 600;
}

#topmenu-left {
    float: left;   
    margin: 0 10px;
}

#topmenu-right {
    float: right;   
    margin: 0 10px;
    cursor: pointer;
}

input[type=text], input[type=submit], input[type=password] {
  box-sizing: border-box;
  background-color: white;
  border: medium solid whitesmoke;
  border-radius: 4px;
  padding: 3px 3px;
  text-align: left;
}

input[type=submit], input[type=file] {
  cursor: pointer;
}

.menufont {
    font-size: 18px;
    font-family: 'Josefin Sans'; 
}

.topmenu {
  text-align: left;
  background: white;                     /*whitesmoke */
  justify-content: space-between;
  display: -webkit-flex ;                 /* for 9 > Safari */
  justify-content: -webkit-space-between; /* for Safari */
  
}

.toolbar-button:hover {
  background: whitesmoke;				/*Was rgba(247,247,247,.5)*/
  transition: all .15s ease-in-out;
}

#foot {
  text-align: center;
  background: white;
}

.main_content {
  text-align: left;
  background: white;
}

#msg {
  background: whitesmoke;
}

#msg ul, li {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  color: red;
}

@media all and (min-width: 800px) {
  .main_content { flex: 3 0px; }
  #msg          { order: 1; } 
  .main_content { order: 2; }
  #foot         { order: 4; }
}

/* File upload custom
input[type="file"] {
    display: none;
} */