
/**********************************
 * Aboves are same as in editor css
 * Below is different
 */

#side_menu {
    display: flex;
    width: 25rem;
}

.topmenu {
    height: 2.8rem;
    background-color: white;
    border-bottom: 1px solid black;
}

#mur2menutop .toolbar {
    opacity: 0;
}

#maintext {
    flex-direction: column;
    padding-left: 34.315rem;
    width: calc(100% - 27.5275rem - 34.315rem);
    direction: rtl;
}

.main\.discovery #maintext {
    flex-direction: column;
    padding-left: 1.685rem;
    width: calc(100% - 27.5275rem);
    direction: ltr;
    top: 0;
    height: 100%;
}

#maintext .control-item {
    color: black;    
}
#maintext .control-item:hover {
    /* */
    border-bottom: solid black 1px;
}

/* user profile */
#user_profil_overview {
    display: flex;
    flex-direction: row;
}
#user_profil_overview h1{
    top: -1.2rem;
}
#avator {
    height: 10rem;
    width: 10rem;
}

td a.control-item {
    height: unset;
    fill: black;
}


#user_articles {
    display: flex;
    justify-content: space-between;    
    display: -webkit-flex ; /* for 9 > Safari */
    -webkit-justify-content: space-between;   
    justify-content: -webkit-space-between;/* for Safari */
    margin-bottom: 1rem;
    flex-direction: column;
}



#side_menu{  
    color: #666;
    background-color: white;
}

#side_menu .control-item {
    color: #666;
}

#side_menu .control-item:hover {
    border-bottom: solid #666 1px;
}

#side_menu #mur2menutop {
    border-bottom: solid 1px #666;
}

#side_menu #side_top {
    border-left: 1px solid #666;
}

.topmenu {
    border: none;
}



#article_main {
    direction: ltr;
}

/*
 ****************************************
 * special setting for login 
 */

.main\.edit_journal #maintext ,
.main\.edit_profile #maintext ,
.auth\.login #maintext {
    border-right: 1px solid #666;
    z-index: 30;
    padding-right: 1.685rem;
    overflow: visible;
    direction: ltr;
    text-align: right;
}


.auth\.login #maintext h1 {
    border-top: solid 1px #666;
    padding-right: 3.37rem;
    padding-top: 1.685rem;
    margin-top: 1.5rem;
    min-width: 100%;
    left: 0;
}

.auth\.login #foot {
    border-left: 1px solid #666; 
    padding-left: 1.685rem;
}

.auth\.login #mur2menu_link {
    padding-left: 1.685rem;
}

.auth\.login #side_menu #mur2menutop {
    border-bottom: solid 1px #666;
}


/*
 ****************************************
 * special setting for user 
 */


.main\.journal  #user_username,
.main\.user  #user_username,
.main\.root  #user_username {
    writing-mode:  tb;
    width: 25rem;
    /* mur2menutop - foot - side_menu */
    height: calc(100% - 2.8rem - 2.6rem - 0.8425rem );
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    color: #333;   
    position: fixed;
    left: 0;
    top: calc( 2.8rem + 0.8425rem );
    text-align: center;
    transform: rotate(180deg);
}


.main\.categories #maintext,
.main\.keywords #maintext,
.main\.search #maintext,
.main\.user #maintext,
.main\.journal #maintext,
.main\.root #maintext {
    width: calc(100% - 27.5275rem - 34.315rem );
    top: 1rem;    
}

.main\.root #maintext {
    top: 3rem;
}

.main\.journal #maintext,
.main\.user #maintext {
    padding-top: 2.4825rem ;
}

.main\.journal .usertitle,
.main\.categories .usertitle,
.main\.keywords .usertitle,
.main\.search .usertitle ,
.main\.root .usertitle ,
.main\.user .usertitle {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    border-left: 1px solid #666;

    position: relative;
    top: -1.685rem;
    padding-top: 2.5275rem;
    padding-bottom: 0.845rem;
}

.main\.journal .usertitle a,
.main\.categories .usertitle a,
.main\.keywords .usertitle a,
.main\.search .usertitle a,
.main\.root .usertitle a,
.main\.user .usertitle a {
    text-decoration: none;
    color: #333;
}

.main\.journal .usertitle,
.main\.journal .userabstract,
.main\.categories .usertitle,
.main\.categories .userabstract,
.main\.keywords .usertitle,
.main\.keywords .userabstract,
.main\.search .usertitle,
.main\.search .userabstract,
.main\.root .usertitle,
.main\.root .userabstract,
.main\.user .usertitle,
.main\.user .userabstract {
    margin-left: 0.845rem;
    padding-left: 0.845rem;
    
}

.main\.journal .userabstract,
.main\.categories  .userabstract ,
.main\.keywords  .userabstract ,
.main\.search  .userabstract ,
.main\.root .userabstract,
.main\.user .userabstract {
    display: flex;
    flex-direction: row;
} 

.main\.journal   .user_articles,
.main\.categories   .user_articles,
.main\.keywords   .user_articles, 
.main\.search   .user_articles, 
.main\.root   .user_articles, 
.main\.user .user_articles {
    padding-bottom: 3.37rem;
    border-top: 1px solid #666;
    direction: ltr;
}

.main\.journal  .userabstracttext p,
.main\.journal  .usertitle p,
.main\.categories  .userabstracttext p,
.main\.categories  .usertitle p,
.main\.keywords  .userabstracttext p,
.main\.keywords  .usertitle p,
.main\.search  .userabstracttext p,
.main\.search  .usertitle p,
.main\.root  .userabstracttext p,
.main\.root  .usertitle p,
.main\.user .userabstracttext p ,
.main\.user .usertitle p {
    margin: unset;
    max-width: calc( 41rem + 5 * 1.685rem);;
}

.main\.journal  .article_action,
.main\.categories  .article_action,
.main\.keywords  .article_action,
.main\.search  .article_action,
.main\.root  .article_action,
.main\.user .article_action{
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 3.37rem;
}

.main\.journal  .article_action:hover,
.main\.categories  .article_action:hover,
.main\.keywords  .article_action:hover,
.main\.search  .article_action:hover,
.main\.root  .article_action:hover,
.main\.user .article_action:hover{
    opacity: 1;
}

/*
 ****************************************
 * special setting for user 
 */
.main\.edit_journal #maintext h1,
.main\.edit_profile #maintext h1 {
    border-top: solid 1px #666;
    padding-right: 1.685rem;
    padding-top: 1.685rem;
    margin-top: 1.5rem;
    min-width: 100%;
    left: 0;
}

/*
 ****************************************
 * special setting for search 
 */
.main\.categories #maintext h1, 
.main\.keywords #maintext h1, 
.main\.search #maintext h1 {
    direction: ltr;
    margin: unset;
    left: 1.685rem;
    max-width: unset;
    border-top: 1px solid #666;
    padding-left: 2.5275rem;
    padding-top: 0.8465rem;
    width: calc(100% + 1.685rem);
}

.main\.categories #maintext,
.main\.keywords #maintext,
.main\.search #maintext {
    padding-top: calc(2.4215rem + 1px);
}

#maintitle {
    max-width: unset;
    margin-left: calc( 1.685rem + 1px);
    border-left: 1px solid #666;
    padding-left: 0.8425rem;
    margin-bottom: 1.685rem;
    position: relative;
    left: -0.86425rem;
    text-align: left;
    top: -2.8rem;
    padding-top: 2.8rem;
}

#maintitle div {
    padding-left: 3.5rem;
    color: #666;
}

#lapozo {
    border-top: 1px solid #666;
    flex-direction: row;
    justify-content: space-between;    
    display: -webkit-flex ; /* for 9 > Safari */
    -webkit-justify-content: space-between;   
    justify-content: -webkit-space-between;/* for Safari */
    padding-top: 0.8425rem;
        
}

.categoryid ,
.keywordsid, 
.journalid {
    font-style: italic;
    padding-top: 0.8425rem;
}

.categoryid + .keywordsid ,
.journalid + .categoryid , 
.journalid + .categoryid + .keywordsid {
    padding-top: unset;    
}

/*
 * Discovery
*/
.discovery_legend_color {
    width: 1.4rem;
    height: 1.4rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    border-radius: 0.7rem;
    margin-right: 0.8425rem;
}

.discovery_legend {
    display: flex;
    flex-direction: row;
    text-transform: initial;
    padding-left: 1.685rem;    
}

/****************************************
 * Media settings
 */

/* phones */
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 767px){ 
    #foot {
        display: none;
    }
    
    #maintext,
    .main\.user #maintext,
    .main\.root #maintext,
    .main\.edit_profile #maintext {
        padding-left: 1.685rem;
        width: calc(100% - 1.685rem - 1.685rem);
        z-index: 2;
        position: relative;
        top: 3rem;
    }
    
    .main\.discovery #maintext {
        flex-direction: column;
        padding-left: 1.685rem;
        width: calc(100% - 1.685rem  );
        direction: ltr;
        top: 3rem;
        z-index: 2;
        position: relative;
    }
    
    #side_menu {
        width: calc(100% - 1.685rem);
        min-width: calc(100% - 1.685rem);  
        z-index: 1;
        font-size: 2rem;
    }
    #side_menu #side_top {
        border-left: unset;
    }
    #side_menu #mur2menutop {
        border-bottom: unset;
    }
    
    #mur2menutop .toolbar {
        opacity: 1;        
    }
    
    #mur2menu_link {
        color: rgba(0,0,0,0) ;
    }
    
    #id_side_menu:checked ~ #side_menu {
        z-index: 3;
    }
    
    .auth\.login #side_menu {
        display: none;
    }
    .auth\.login #maintext {
        padding-right: 5.055rem;
    }
    
    .main\.root  #user_username,
    .main\.user  #user_username {
        writing-mode: lr;
        transform: unset;
        position: relative;
        height: 6.74rem;
        text-align: left;
        top: -1.685rem;
        width: 100%;
        left: 1.685rem;
    }
}

/* 5/4 desktop */
@media screen and (min-device-width : 1025px) and (max-device-width : 1440px) and (min-aspect-ratio: 5/4) { 
    #maintext,
    .main\.root #maintext,
    .main\.user #maintext {
        padding-left: 15.25rem;
        width: calc(100% - 17.5275rem - 15.25rem);
    }     
    .main\.discovery #maintext {
        flex-direction: column;
        padding-left: 1.685rem;
        width: calc(100% - 17.5275rem );
        direction: ltr;
        top: 0;
    }
    #side_menu {
        width: 15rem;
        min-width: 15rem;
    }    
}


/* iPad in landscape */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #maintext,
    .main\.root #maintext, 
    .main\.user #maintext {
        padding-left: 3.37rem;
        width: calc(100% - 17.5275rem - 3.37rem);
    }
    .main\.discovery #maintext {
        flex-direction: column;
        padding-left: 1.685rem;
        width: calc(100% - 17.5275rem );
        direction: ltr;
        top: 0;
    }
    
    #side_menu {
        width: 15rem;
        min-width: 15rem;
    }  
    .main\.root  #user_username,
    .main\.user  #user_username {
        writing-mode: lr;
        transform: unset;
        position: relative;
        height: 6.74rem;
        text-align: right;
        top: -1.685rem;
    }
    
}

/* iPad  in portrait */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #maintext,
    .main\.root #maintext,
    .main\.user #maintext {
        padding-left: 1.685rem;
        width: calc(100% - 17.5275rem - 1.685rem);
    }   
    .main\.discovery #maintext {
        flex-direction: column;
        padding-left: 1.685rem;
        width: calc(100% - 17.5275rem );
        direction: ltr;
        top: 0;
    }
    
    #side_menu {
        width: 15rem;
        min-width: 15rem;
    }
    .main\.root  #user_username,
    .main\.user  #user_username {
        writing-mode: lr;
        transform: unset;
        position: relative;
        height: 6.74rem;
        text-align: right;
        top: -1.685rem;
    }
}

@media only screen and (max-width: 900px), 
(height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    #maintext,
    .main\.root #maintext.
    .main\.user #maintext {
        padding-left: 15.25rem;
        width: calc(100% - 17.5275rem - 15.25rem);
    }  
    .main\.discovery #maintext {
        flex-direction: column;
        padding-left: 1.685rem;
        width: calc(100% - 17.5275rem );
        direction: ltr;
        top: 0;
    }
    #side_menu {
        width: 15rem;
        min-width: 15rem;
    }       
}