div.media_files {
    overflow: auto;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#media_files {
    padding-top: var(--verticaldistance);
}

#maintext h1 + form {
    border-top: 1px solid #333;
    padding-top: var(--verticaldistance);
    padding-bottom: var(--verticaldistance);
    position: relative;
    left: 1.685rem;
    z-index: 40;
    padding-right: 1.685rem;
}

.media_file {
  padding: 0 6px;
  float: left;
  max-width: calc( 24.99999% - 8px );
}

#maintext {
    top: 3.45rem;
    overflow: visible;
    z-index: 30;
}

#maintext h1 {
    margin: unset;
    padding-bottom: 1.685rem;
}

/* iPdad */ 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .media_file {
    max-width: calc( 49.99999% - 16px );
    margin: 6px 0;
  }
}

/* gallery */
#gallery {
  display: grid;
  height: calc(100vh - 10px);
  grid-template: repeat(6, 1fr)/repeat(6, 1fr);
  grid-gap: 0.5em;
  overflow: auto;
}
@media (max-width: 800px) {
  #gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #gallery > div {
    width: 48%;
    margin: 1%;
  }
}
@media (max-width: 800px) and (max-width: 350px) {
  #gallery > div {
    width: 98%;
  }
}

#gallery > div:nth-child(6n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}
#gallery > div:nth-child(2) {
  grid-column: span 3;
  grid-row: span 3;
}
#gallery > div:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
#gallery > div > a {
  opacity: 0;
  position: absolute;
  color: #000;
  background-color: #000;
  text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff, 1px 0px 5px #fff;
  padding: 2rem;
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  transition: all ease 1s;
}
#gallery > div > img {
  width: 100%;
  transition: all ease 1s;
}
#gallery > div:hover img {
  filter: blur(4px);
}
#gallery > div:hover a {
  opacity: 1;
}
#gallery > div {
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
#gallery div,
#gallery a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

[id^="lightbox-"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  transition: opacity 450ms ease-in-out;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
[id^="lightbox-"]:target {
  opacity: 1;
  pointer-events: inherit;
}
[id^="lightbox-"]:target img {
  filter: blur(0);
}
[id^="lightbox-"] .content {
  max-width: 90%;
  position: relative;
  color: #fff;
  display: inline;
}
[id^="lightbox-"] .content:hover > a.close,
[id^="lightbox-"] .content:hover label.control-item {
  opacity: 1;
  transform: scale(1, 1);
}
[id^="lightbox-"] .content:hover > .title {
  opacity: 1;
  transform: translateY(-3px);
}
[id^="lightbox-"] .content:hover > .title::after {
  opacity: 1;
}
[id^="lightbox-"] .content > * {
  transition: all 450ms ease-in-out;
}

[id^="lightbox-"] img {
  max-height: 90vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  filter: blur(50px);
    min-height: 4rem;
}

[id^="lightbox-"] label.control-item, 
[id^="lightbox-"] a.close {
    width: 2em;
    height: 2em;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  transform: scale(0, 0);
  opacity: 0;
  transform-origin: right top;
  text-decoration: none;
  color: #fff;
}

[id^="lightbox-"] a.close {
  right: 0;
  top: 0;
}

[id^="lightbox-"] label.control-item {
    right: 0;
    bottom: 0;
    padding: unset;
    color: white !important;
}

[id^="lightbox-"] a.close::after {
  content: "X";
}


/* iPad portait and iPhone */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait),
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 
  .media_file {
      max-width: calc( 100% - 32px );
  }
}

/* iPhone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) {
    
}

.clearfix:after {
        content: "";
        display: table;
        clear: both;
}