/* 
*********************************
* Settings for the preview side 
*/
#article_main figure {
    padding-top: var(--verticaldistance);
    padding-bottom: var(--verticaldistance);
    margin: unset;
    max-width: 47rem;
}

#article_main figure img {
    max-width: 100%;
}

#article_main p img {
    float: left;
    padding-right: 1ex;
    max-width: 50%;        
}

#article_main table + p[id^='tbl'] ,
#article_main figcaption {
    font-style: italic;
    padding-left: var(--verticaldistance);
}

div#article_abstract_div, 
#article_main p,
#article_main li,
#article_main h1
{
    max-width: 41rem;    
}

#article_main table {
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    margin-top: var(--verticaldistance);
    border-collapse: collapse;
}
#article_main thead {
    border-bottom: 1px solid #666;
}
#article_main table + p[id^='tbl'] {
    margin-bottom: var(--verticaldistance);
}
#article_main p[id^='eq:'] + p[id^='eq:'],
#article_main table + p:not([id^='tbl']) {
    margin-top: var(--verticaldistance);
}
#article_main table + p[id^='tbl'] + p {
    text-indent: 0;
}



#article_main p[id^='eq:'] {
    text-align: center;
    margin-top: var(--verticaldistance);
    margin-bottom: var(--verticaldistance);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#article_main p[id^='eq:'] + p[id^='eq:'] {
    text-indent: var(--verticaldistance);
}

#article_main p,
#article_main li {
    margin: auto 0;
}

#article_main p + p {
    text-indent: var(--verticaldistance);
}

#article_main blockquote p {
    hanging-punctuation: first; /* this should wokr with safary only */
}

/* p after block LaTeX code */
#article_main p[style] + p {
    text-indent: 0rem;
}
/* block LaTeX codes */
#article_main p[style] {
    padding-top: var(--verticaldistance);
    padding-bottom: var(--verticaldistance);
}

#article_main p + ul, 
#article_main p + ol {
    margin-top: var(--verticaldistance);
    margin-bottom: var(--verticaldistance);
}

#article_preview_side div#article_title, 
body h1#article_title,
body h1#article_title + div {
    position: relative;
    left: calc( var(--verticaldistance) * -4 );
}

#article_preview_side div#article_title, 
body h1#article_title {
    line-height: calc( var(--verticaldistance) * 3 );
    font-size: 4.2999em;
}

body h1#article_title + div {
    color: #666;
    margin-bottom: var(--verticaldistance);
}

body h1#article_title, 
body h1#article_title p{
    max-width: 47.74rem;
}


/* phones */
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 767px){ 
    body h1#article_title, 
    body h1#article_title + div {
        left: 0rem;
        max-width: 41rem;
    }
    div#article_abstract_div, 
    #article_main p,
    #article_main li,
    #article_main h1 {
        max-width: unset;    
    }
    
    .main\.discovery #side_menu,
    .main\.root #side_menu ,
    .main\.user #side_menu ,
    .main\.reader #side_menu {
        background-color: rgba(0,0,0,0);
    }
    
    .main\.discovery #side_menu .control-item,
    .main\.root #side_menu .control-item,
    .main\.user #side_menu .control-item,
    .main\.reader #side_menu .control-item {
        color:  rgba(0,0,0,0);
    }
    #id_side_menu:checked ~ #side_menu {
        background-color: white;
    }
    #id_side_menu:checked ~ #side_menu #mur2menu_link .control-item {
        color:  #333;
        background-color: white;
    }   
    #msg {
        display:none;
    }
    .topmenu {
        height: 5rem;
    }
}


/* 5:4 desktop screen */
@media screen and (min-device-width : 1025px) and (max-device-width : 1440px) and (min-aspect-ratio: 5/4) { 
    body h1#article_title,
    body h1#article_title + div  {
        left: calc( var(--verticaldistance) * -2 );
        max-width: 44.37rem;
    }   
}

/* iPad in landscape */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    body h1#article_title,
    body h1#article_title + div {
        left: 0rem;
        max-width: 41rem;
    }        
}

/* iPad  in portrait */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body h1#article_title,
    body h1#article_title + div  {
        left: 0rem;
        max-width: 41rem;
    }
}
