    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="LaTeX, Markdown, equations, markdown latex online editor, tikz, latex online">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="//fonts.gstatic.com">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.svg">

    <link rel="stylesheet" href="/static/css/editor/TextareaDecorator.css">
    <link rel="stylesheet" href="/static/css/editor/upmath.css">
    <link rel="stylesheet" href="/static/css/editor/solarized-light.css">
    <link rel="stylesheet" href="/static/css/editor/mur2_editor.css">

    <link rel="preconnect" href="//tex.s2cms.ru" crossorigin> <!-- This make the LaTEx code rendering -->

    <!-- set some mur2 atrtriput which we will use later to send data to the server -->
    <meta name="article_id" content='{{ article_id }}'>
    <meta name="texttype" content="article">
    <meta name="endnotetext" content={{ _("Endnote") }}>
    <meta name="mur2language" content='{{ language }}'>