<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <title>{{ title }}</title>
        <meta name="author" content="{{author[0][0]}}{%if author|length > 1 %}{% for a in author[1:] %}, {{ a[0] }}{% endfor %}{%endif %}">
       <link rel="icon" type="image/png" href="/static/images/favicon.png">

        <!-- style -->
        
        <link rel="preconnect" href="//mur2.co.uk:8005" crossorigin> <!-- This make the LaTEx code rendering -->

        <meta name="keywords" content="LaTeX, Markdown, equations, markdown latex online editor, tikz, latex online">
        <meta name="description" content="Lightweight online editor for long-form journalist and academic writers">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- set some mur2 atrtriput which we will use later to send data to the server -->
        <meta name="article_id" content='{{ article_id|string }}'>
        <meta name="texttype" content='{{  texttype }}'>
        <meta name="endnotetext" content={{ _("Endnotes") }}>
        <meta name="mur2language" content='{{ language }}'>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165583882-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-165583882-1');
        </script>
        
        <!-- convergence -->
        <script src="https://cdn.jsdelivr.net/npm/rxjs@6.5.4/bundles/rxjs.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@convergence/convergence@1.0.0-rc.5/convergence.global.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@convergence/input-element-bindings@0.3.4/browser/convergence-input-element-bindings.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@convergence/html-text-collab-ext/umd/html-text-collab-ext.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/@convergence/color-assigner/umd/color-assigner.js"></script> -->

        <!-- style -->
        <!-- <link rel="stylesheet" href="/static/css/mur2.css"> -->
        <link rel="stylesheet" href="/static/css/editor/TextareaDecorator.css">
        <link rel="stylesheet" href="/static/css/editor/solarized-light.css">
        <link rel="stylesheet" href="/static/css/mur2.css">
        <link rel="stylesheet" href="/static/css/editor/mur2_editor_base.css">
        <link rel="stylesheet" href="/static/css/editor/source_md_highlight.css">
        <link rel="stylesheet" href="/static/css/preview.css">
        
        {% include 'language_selector.html' %}
        
    </head>
    <body class="result-as-html {{ language }}" >
        <div id="horizontal_box"> <!-- content -->     
            <input class="choice_menu control-input" id="id_side_menu" type="checkbox" name="source_type" > 
            <div id="msg" >
                <!-- print msg -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div><!-- end msg -->          
          
      <div id="maintext" >
         <div id="article_input_side" >
             <div class="title_and_abstract">
                 <div>{{ _("Title") }}:</div>
                 <textarea id="title-source"  maxlength="120"  ></textarea>
                 <div id="id_featureImage">
                     <input class="feaImg_action control-input" id="feaImg_add" type="file" name="{{  _('Set Featured Image') }}" >
                     <label class="toolbar" for="feaImg_add" title="{{  _('Set Featured Image') }}" >
                         {{  _('Set Featured Image') }}
                     </label>
                     
                     <input class="feaImg_action control-input" id="feaImg_del" type="radio" name="{{  _('Delete Featured Image') }}" >
                     <label class="toolbar" for="feaImg_del" title="{{  _('Delete Featured Image') }}" >
                         {{  _('Delete Featured Image') }}
                     </label>                     
                 </div>
                 <div>{{ _("Abstract") }}:</div>                 
                 <textarea id="abstact-source" maxlength="1500" ></textarea>
                 <div>{{ _("Categories") }}:</div>   
                 <div id="categories" class="multi-search-filter" >{% for cat in categories %}<div class="multi-search-item"><span>{{ cat }}</span><div class="fa fa-close" onclick="this.parentNode.remove()" aria-hidden="true"></div></div>
                     {% endfor %}
                     {% if categories|length < 3 %}
                     <select id = "myList"  onchange="multiSearchKeyup(this)">
                         <option hidden disabled selected value>{{ _('Select a category') }}</option>
                         <option value = "{{ _('Physics') }}\n">{{ _('Physics') }}</option>
                         <option value = "{{ _('Chemistry') }}\n">{{ _('Chemistry') }}</option>
                         <option value = "{{ _('Earth Science') }}\n">{{ _('Earth Science') }}</option>
                         <option value = "{{ _('Space Science') }}\n">{{ _('Space Science') }}</option>
                         <option value = "{{ _('Biology') }}\n">{{ _('Biology') }}</option>
                         <option value = "{{ _('Molecular Biology') }}\n">{{ _('Molecular Biology') }}</option>
                         <option value = "{{ _('Mathematics') }}\n">{{ _('Mathematics') }}</option>
                         <option value = "{{ _('Logic') }}\n">{{ _('Logic') }}</option>
                         <option value = "{{ _('Statistics') }}\n">{{ _('Statistics') }}</option>
                         <option value = "{{ _('History') }}\n">{{ _('History') }}</option>
                         <option value = "{{ _('Economy') }}\n">{{ _('Economy') }}</option>
                         <option value = "{{ _('Sociology') }}\n">{{ _('Sociology') }}</option>
                         <option value = "{{ _('Law') }}\n">{{ _('Law') }}</option>
                         <option value = "{{ _('Education') }}\n">{{ _('Education') }}</option>
                         <option value = "{{ _('Archaeology') }}\n">{{ _('Archaeology') }}</option>
                         <option value = "{{ _('Politics') }}\n">{{ _('Politics') }}</option>
                         <option value = "{{ _('Computer science') }}\n">{{ _('Computer science') }}</option>
                         <option value = "{{ _('Civil Engineering') }}\n">{{ _('Civil Engineering') }}</option>    
                         <option value = "{{ _('Electrical Engineering') }}\n">{{ _('Electrical Engineering') }}</option>
                         <option value = "{{ _('Genetics') }}\n">{{ _('Genetics') }}</option>
                         <option value = "{{ _('Software') }}\n">{{ _('Software') }}</option>
                         <option value = "{{ _('Industrial') }}\n">{{ _('Industrial') }}</option>
                         <option value = "{{ _('Medicine') }}\n">{{ _('Medicine') }}</option>
                         <option value = "{{ _('Pharmacy') }}\n">{{ _('Pharmacy') }}</option>
                         <option value = "{{ _('Dental') }}\n">{{ _('Dental') }}</option>
                         <option value = "μr²\n">μr²</option>
                     </select>                     
                     {% endif %}
                 </div>
                 <div>{{ _("Keywords") }}:</div>   
                 <div id="keywords" class="multi-search-filter" onclick="Array.from(this.children).find(n=>n.tagName==='INPUT').focus()">
                     {% for key in keywords %}
                     <div class="multi-search-item"><span>{{ key }}</span><div class="fa fa-close" onclick="multiSearchKeyup(this)" aria-hidden="true"></div></div> 
                     {% endfor %}
                     {% if keywords|length < 10 %}
                     <input type="text" onkeyup="multiSearchKeyup(this)">
                     {% endif %}
                 </div>
                 <div>{{ _("Canonical URL") }}:</div>  
                 <textarea id="canonicalUrlText"  maxlength="200"  spellcheck="false" >{{ canonicalUrlText }}</textarea>
                 <div>{{ _("Text Type") }}:</div>
                 <select id = "textype" onchange="textypesettings(this)">
                     {% if texttype == "Article" %}
                     <option value = "Article" selected>{{ _('Article') }}</option>
                     {% else %}
                     <option value = "Article">{{ _('Article') }}</option>
                     {% endif %}
                     {% if texttype == "Review" %}
                     <option value = "Review" selected>{{ _('Review') }}</option>
                     {% else %}
                     <option value = "Review">{{ _('Review') }}</option>
                     {% endif %}
                 </select>
                 <div id="reviewsettings">
                     {% if reviewed > 0 %}
                     <div>{{ _('Article') }}<input id="reviewdArticle" type="text" value="{{ reviewed }}"><button onclick="selectReviewedID()" >Select</button></div>
                     {% else %}
                     <div>{{ _('Article') }}<input id="reviewdArticle" type="text"><button onclick="selectReviewedID()" >Select</button></div>
                     {% endif %}
                     {% if standby is not none  %}
                     <div>{{ _('Standby') }}<input id="reviewStandby" type="number"  min="-100" max="100" value="{{ standby }}"></div>
                     {% else %}
                     <div>{{ _('Standby') }}<input id="reviewStandby" type="number"  min="-100" max="100" ></div>
                     {% endif %}
                     {% if rebel %}
                     <div>{{ _('Rebel') }}<input id="reviewRebel" type="checkbox" checked></div>
                     {% else %}
                     <div>{{ _('Rebel') }}<input id="reviewRebel" type="checkbox"></div>
                     {% endif %}
                 </div>
                 {% if article_id > 0 %}
                 <!-- manage authors -->
                 <div>{{ _("Authors") }}:</div> 
                 <div id="articale_authors">                     
                     {% for a in author %}
                         {% if owner %}
                     <div>{{ a[0] }} <button onclick='addNewAuthor("remove", "{{ a[0] }}")' >Remove</button> – Workshare: <input class="workshare" original="{{ a[2] }}" userid="{{ a[0] }}" type="number" min="0" max="100" value="{{ a[2] }}"></div>
                         {% else %}
                     <div>{{ a[0] }} – Workshare: {{ a[2] }} </div>
                         {% endif %}
                     {% endfor %}
                     {% if owner %}
                     <div><input id="newauthor" type="text"> – Workshare: <input class="workshare" type="number"  min="0" max="100"><button onclick='addNewAuthor("add")' >Add</button></div>
                     {% endif %}                     
                 </div>
                     
                 {% endif %}
            </div>
            <textarea id="main-source"></textarea>
            <div id="highlight_main" ></div>
         </div>
         <div id="slider"></div>
         <div id="article_preview_side" >
             <div class="title_and_abstract">
                 <div id="article_title"></div>
                 <div id="article_abstract_div">
                     {% if articleFeaturedImage != None and articleFeaturedImage != "" %}
                     <img class="feature_image" src="{{ articleFeaturedImage }}">
                     {% else %}
                     <img class="feature_image hide" src="">
                     {% endif %}
                     <p id="article_abstract_text"></p>
                 </div>
                 <div class="separator"></div>
             </div>
            <div id="article_main"></div>
            <pre id="article_main_pre"></pre>
         </div>
      </div> <!-- maintext -->
        
     <!-- Modals -->
     <div id="editorModal" class="modal">
         <!-- Modal content -->
         <div class="modal-content">
             <div class="modal-header">
                 <span id="modalClose">&times;</span>
                 <h2>Connect Article</h2>
             </div>
             <div class="modal-body">
             </div>
         </div>
     </div>
     <div id="reviewModal" class="modal">
         <!-- Modal content -->
         <div class="modal-content">
             <div class="modal-header">
                 <span id="modalCloseReview">&times;</span>
                 <h2>Reviwed Article</h2>
             </div>
             <div class="modal-body">
             </div>
         </div>
     </div>
      
     <div id="menu" class="editor_toolbar">
         
             {% include 'editor_side_menu.html' %}
             <div id="choicemenu" class="menufont topmenu">
                 <div>
                 <!-- show editor toolbar -->
                 <input class="choice_menu control-input" id="id_editor_toolbar" type="radio" name="source_type" >
                 <label class="toolbar" for="id_editor_toolbar" title="{{ _('Toolbar') }}" >T</label>
                 </div>
                 <div>
                 <!-- show mur2 menu -->
                 <!--<input class="choice_menu control-input" id="id_side_menu" type="radio" name="source_type" >-->
                 <label class="toolbar fontawsome fas fa-bars" for="id_side_menu" title="{{ _('Show Side Menu') }}"  ></label>
                 </div>
             </div><!-- choicemenu -->
             
             
             <div id="editor_toolbar" class="menufont topmenu">  
                 <div>
                 <div class="toolbar-button" style="display:none"><input type="file" id="fileElem" ></div>
                 <div class="toolbar-button" style="display:none"><input type="file" id="pictureElem" ></div>                     
                 <!-- close editor toolbar -->
                 <label class=" toolbar" for="id_editor_toolbar" title="{{ _('Close Toolbar') }}" >T</label>
                 
                 <!-- Upload file -->
                 <input class="choice_toolbar control-input" id="id_upload" type="radio" name="source_type" >
                 <label class=" fontawsome fas fa-file-upload toolbar" for="id_upload" title="{{ _('Upload file') }}" ></label>
                 
                 <!-- Download result -->
                 <input class="choice_toolbar control-input" id="id_download" type="radio" name="source_type" >
                 <label class=" fontawsome fas fa-file-download toolbar" for="id_download" title="{{ _('Download result') }}" ></label>        
                 {% if not current_user.is_anonymous and edit and ( owner or article_id >= -1 ) %}
                 <!-- Save -->
                 <input class="choice_toolbar control-input" id="id_save" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-save fontawsome " for="id_save" title="{{ _('Save') }}" ></label>
                 {% endif %}
                 <!-- Syntax highlighting -->
                 <input class="choice_toolbar control-input focusmode" id="id_syntax_hl" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fab fa-markdown fontawsome " for="id_syntax_hl" title="{{ _('Syntax highlighting') }}" ></label>
                 <!-- Hide input -->
                 <input class="choice_toolbar control-input" id="id_hide_input" type="checkbox" name="source_type" >
                 <label class="toolbar fontawsome far fa-arrow-alt-circle-left " for="id_hide_input" title="{{ _('Hide input') }}"  ></label>
                 <!-- Show title and abstract -->
                 <input class="choice_toolbar control-input" id="id_show_title" type="checkbox" name="source_type" >
                 <label class="toolbar fontawsome far fa-arrow-alt-circle-down toolbar" for="id_show_title" title="{{ _('Show title and abstract') }}" ></label>
                 <!-- Hide preview -->
                 <input class="choice_toolbar control-input" id="id_hide_preview" type="checkbox" name="source_type" >
                 <label class="toolbar fontawsome far fa-arrow-alt-circle-right toolbar" for="id_hide_preview" title="{{ _('Hide preview') }}"  ></label>
                 <!-- Head -->
                 <input class="choice_toolbar control-input" id="id_head" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-heading toolbar" for="id_head" title="{{ _('Head') }}" ></label>
                 <!-- Italic -->
                 <input class="choice_toolbar control-input" id="id_italic" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-italic toolbar" for="id_italic" title="{{ _('Emphasize') }}" ></label>
                 <!-- Strong -->
                 <input class="choice_toolbar control-input" id="id_strong" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-bold toolbar" for="id_strong" title="{{ _('Strong') }}" ></label>
                 <!-- Picture -->
                 <input class="choice_toolbar control-input" id="id_picture" type="radio" name="source_type" >
                 <label class="toolbar fontawsome far fa-image toolbar" for="id_picture" title="{{ _('Picture') }}" ></label>
                 <!-- Link -->
                 <input class="choice_toolbar control-input" id="id_link" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-link " for="id_link" title="{{ _('Link') }}" ></label>
                 <!-- List -->
                 <input class="choice_toolbar control-input" id="id_list" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-list " for="id_list" title="{{ _('List') }}" ></label>
                 <!-- Numbered list -->
                 <input class="choice_toolbar control-input" id="id_nlist" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-list-ol" for="id_nlist" title="{{ _('Numbered list') }}" ></label>
                 <!-- Endnote -->
                 <input class="choice_toolbar control-input" id="id_footnote" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-superscript" for="id_footnote" title="{{ _('Footnote') }}" ></label>
                 <!-- Table -->
                 <input class="choice_toolbar control-input" id="id_table" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-th-large" for="id_table" title="{{ _('Table') }}" ></label>
                 <!-- Code -->
                 <input class="choice_toolbar control-input" id="id_code" type="radio" name="source_type" >
                 <label class="toolbar fontawsome fas fa-code" for="id_code" title="{{ _('Code') }}" ></label>
                 <!-- LaTeX -->
                 <input class="choice_toolbar control-input" id="id_latex" type="radio" name="source_type" >
                 <label class="toolbar menufont" for="id_latex" title="{{ _('LaTeX code') }}" >Σ</label>
                 <!-- Proof search -->
                 <input class="choice_toolbar control-input" id="id_proof" type="radio" name="source_type" >
                 <label class="toolbar menufont" for="id_proof" title="{{ _('Embedding') }}" >E</label>
              </div>
              <div>
                  <!-- Show side menu -->
                 <label class="toolbar fontawsome fas fa-bars" for="id_side_menu" title="{{ _('Show Side Menu') }}" ></label>
              </div>
          </div> <!-- editor_toolbar -->          
      </div> <!-- menu -->            
            
      <!-- set the markdown editor contents -->
      <script>
        (function () {
            if ( {{ article_id }} !== -1 ) {
                // load the local files
                try {
                    // read timestamp
                    var dataTime = parseInt(localStorage.getItem("{{ "mur2_main_content"+article_id|string+"_time" }}"))/1000;
                    var data_titleTime = parseInt(localStorage.getItem("{{ "mur2_title_content"+ article_id|string+"_time" }}"))/1000;
                    var data_abstractTime = parseInt(localStorage.getItem("{{"mur2_abstract_content"+ article_id|string+"_time" }}"))/1000;
                    var data_fImageTime = parseInt(localStorage.getItem("{{"mur2_featured_image"+ article_id|string+"_time" }}"))/1000;                    

                    if ( dataTime > {{ articleTimestamp }} ) {
                        var data = localStorage.getItem("{{ "mur2_main_content"+article_id|string }}");
                    }
                    if ( data_titleTime > {{ articleTimestamp }} ) {
                        var data_title = localStorage.getItem("{{ "mur2_title_content"+ article_id|string }}");
                    }
                    if ( data_abstractTime > {{ articleTimestamp }} ) {
                        var data_abstract = localStorage.getItem("{{"mur2_abstract_content"+ article_id|string }}");
                    }
                    if ( data_fImageTime > {{ articleTimestamp }} ) {
                        document.getElementsByClassName("feature_image")[0].src = localStorage.getItem("{{"mur2_featured_image"+ article_id|string }}");
                    }
                }
                catch (e) {console.log(e)};
           }
            // the document is basically the all editor
            document.getElementById('main-source').value = data || '{{ article_markdown }}'.replace(/&lt;/g, '<')  ;
            document.getElementById('title-source').value = data_title || '{{ article_title }}'.replace(/'&lt;/g, '<')  ;
            document.getElementById('abstact-source').value = data_abstract || '{{ article_abstract }}'.replace(/&lt;/g, '<')  ;
                                    
        }());
                  
       </script> 
       <script src="{{ url_for("babel_catalog") }}"></script> <!-- internation of javascript -->
       <script src="/static/js/mur2.js"></script> <!-- general mur2 javascripts -->
       
       <script src="/static/js/editor/markdown-it.min.js"></script>
       <script src="/static/js/editor/markdown-it-sub.min.js"></script>
       <script src="/static/js/editor/markdown-it-sup.min.js"></script>
       <script src="/static/js/editor/FileSaver.min.js"></script>
       <script src="/static/js/editor/draggabilly.pkgd.min.js"></script>
       <script src="/static/js/editor/TextareaDecorator.min.js"></script>
       <script src="/static/js/highlight.js/highlight.pack.js"></script>
       <script src="/static/js/editor/utils.min.js"></script>
       <script src="/static/js/editor/markdown-it-s2-tex.min.js"></script>
       <script src="/static/js/editor/markdown-it-footnote.min.js"></script>
       <script src="/static/js/editor/markdown-it-ins.min.js"></script>
       <script src="/static/js/editor/markdown-it-implicit-figures.min.js"></script>
       <script src="/static/js/editor/markdown-it-attrs.browser.min.js"></script>
       <script src="/static/js/editor/markdown-it-criticmarkup.js"></script>
       <script src="/static/js/editor/parser.min.js"></script>       
       <script src="/static/js/editor/mur2_upmath.js"></script>
       <script src="/static/js/mur2_editor_utils.js"></script>
       <script src="/static/js/mur2_editor.js"></script>
       
       <script>
           // retrieve the access token from the URL
           var params = window.location.hash.substr(1),
               token = params.substr( params.indexOf( 'access_token' ) )
                   .split( '&' )[0]
                   .split( '=' )[1],
               siteID = params.substr( params.indexOf( 'site_id' ) )
                     .split( '&' )[0]
                     .split( '=' )[1];

           if ( token && siteID ) {            
               // save in cookie
               var value = getCookie("mur2_wpc_accesstoken");
               if (value == "") {
                   setCookie("mur2_wpc_accesstoken", token, 365);
                   setCookie("mur2_wpc_sideid", siteID, 365);
                   window.location = window.location.href.split("#").slice(0,1);
               }
           }
       </script>    
       <script>
           /* Function for Review*/
           currenttextype = document.getElementById('textype');
           textypesettings(currenttextype);
           function textypesettings(data) {
               data.setAttribute("selectedvalue", data.value); 
           }           
       </script>

        <script type="text/javascript">
            // just saved article can be shared
            if ( {{ article_id }} > 0 ){                        
                var domainUrl = "https://mur2.co.uk:9000/api/realtime/convergence/default";
            
                // 1. Connect to the domain anonymously.
                Convergence.connectWithJwt(domainUrl, "{{cjwt}}")
                    .then(initApp)
                    // .then(chat) # commented out as there is a bug in Convergence
                    .catch((error) => {
                    console.log("Could not connect: " + error);
                });
            
                // 2. Initializes the application after connecting by opening a model.
                function initApp(domain) {                                                          
                    const modelService = domain.models();
                    modelService.openAutoCreate({
                        collection: "{{ title }}",
                        id: "{{ article_id|string }}",
                        data: { text: document.getElementById('main-source').value }
                    })
                        .then(initModel)
                        .then(listener)
                        .catch((error) => {
                        console.log("Could not open model: " + error);
                    });
                    
                    return domain
                };

                // 3. Initializes the model once the model is open.
                function initModel(model) {
                    const stringModel = model.elementAt("text");
                    const textArea = document.getElementById("main-source");

                    // Sets the value of the text area and performs a two-way-binding.
                    ConvergenceInputElementBinder.bindTextInput(textArea, stringModel);
                    
                    return model;
                };
            
                function listener(model) {
                    var textArea = document.getElementById("main-source");
                    var convevent = new CustomEvent('conv', { detail: "main-source" });
                    var inputeventl = new Event("input");
                    var article_input_side = document.querySelector('#article_input_side');
                    // listen the changes
                    model.events().subscribe(e => {
                        switch (e.name) {
                            case "version_changed":
                               // update input side
                               textArea.dispatchEvent(inputeventl);
                               // update rendered side
                               article_input_side.dispatchEvent(convevent);
                               break;
                            default:
                        }
                    } );
                };  
                
                function displaychatmsg(inputdata){
                    console.log(inputdata);
                    // create new post
                    var post = document.createElement("li");
                    var user = document.createElement("span");
                    user.className += 'chatuser';
                    user.innerText = inputdata['user'];
                    post.appendChild(user);
                    var msg = document.createElement("p");
                    msg.innerText  = inputdata['msg'];
                    post.appendChild(msg);
                    
                    // Get the chat window
                    var windows = document.getElementById("chatposts");
                    windows.appendChild(post);
                }
                
                /* connect ot chat */
                // Create chat
                function chat(domain) {    
                    this.domain = domain;
                    
                    var identityService = domain.identity();
                    var user = identityService.session().user();
                    console.log(user);
                            
                    
                    const chatService = domain.chat();                    
                    // Create a room 
                    chatService.create({
                        // a unique ID for the chat room
                        id: 'articles{{article_id}}', 
                        // either "room" or "channel"
                        type: "channel", 
                        name: 'articles{{article_id}}', 
                        topic: 'Chat about Article {{article_id}}',
                        // Either "public" or "private".  Room chats must be public
                        membership: "public", 
                        // by default, if a room with this ID already exists, an Error is thrown.  Setting
                        // this flag to true avoids this error.                          
                        ignoreExistsError: true
                    }).then(chatId => {
                        // Join the room
                        return chatService.join(chatId);
                    }).then(room => {
                        this.channel = room;
                        
                        // Listen for incoming messages
                        room.on("Message", evt => {
                            displaychatmsg({
                                msg:  evt.message.split(":").slice(1).join(':'),
                                user: evt.message.split(":")[0]
                            });
                        });
                        
                        /* get history */
                        /* this have a bug in so at the moment the chat is not active */
                        room.getHistory({
                            startEvent: 0,
                            limit: 10,
                            forward: true
                        }).then(response => {
                            console.log(response);
                            if ( response.length > 0 ) {
                                response.data.forEach(event => {
                                    console.log(event);
                                });
                            }
                        }).catch(error => {
                            console.log("No history: " + error);
                        });
                        

                        // Send a message
                        room.send(this.domain.session().user().displayName+": OMG no. So much text: I'm dreaming in Markdown");

                    }).catch(e => {
                        console.log(e);
                    });
                    
                };                                           
                
                // monitor chat input filed
                function chatinput(event) {
                    if (event.keyCode === 13) {
                        try {
                           this.channel.send(
                               this.domain.session().user().displayName+":"+document.getElementById("chatinput").value
                           );
                        } catch (e) {
                            // handle errors.  say, the user isn't currently connected
                            console.log(e);
                        }
                   
                        // clear value
                        document.getElementById("chatinput").value = "";
                    }
                };                              
            }            
        </script>
        <script type="text/javascript">
           // add focuse on the main area
            var field = document.getElementById('main-source');
            field.focus();
            field.select();
            field.selectionStart = 0;
            field.selectionEnd = 0
       </script>
       </div><!-- horizontal_box -->
    </body>        
</html>

