<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8">
        {% if title %}
           {% if author %}
        <title>{{ author }}: {{ title }} </title>
           {% else %}
        <title>μr²: {{ title }} </title>
           {% endif %}
        {% else %}
        <title>μr²</title>
        {% endif %}       
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165583882-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-165583882-1');
        </script>

        
        <!-- style -->
        <link rel="stylesheet" href="/static/css/mur2.css">
        <link rel="stylesheet" href="/static/css/preview.css">
        <link rel="stylesheet" href="/static/css/mur2_front.css">
        {% include 'language_selector.html' %}
        
        {% block header %}{% endblock %}
    </head>
    <body class="result-as-html {{ language }} {{ request.endpoint }}">
        <!-- content -->
        <div id="horizontal_box">
            <input class="choice_menu control-input" id="id_side_menu" type="checkbox" name="source_type" >
            <div id="side_menu" class="menufont hide tran1">
                <div id="side_top">
                    <div id="details_page1" class="details menupage hidedetails">
                        <h2>Why?</h2>
                        <p>The academic publishing market dominated by a handful of large publishing companies.  At the same time, writers can feel a strong “publish or persist” pressure, readers suffer the high prices of access, and small Journals struggle to break into the market.</p>
                        <h2>How?</h2>
                        <p>The key to publishers dominance is the monopoly of the peer-review and this is where we are different.  With μr², peer-reviews happen before Journals receive the Article.<br>
                            Just imagine a huge resource of peer-reviewers online who filter the Articles before going to the publishers.  The Writers could offer they article to multiple Journals same time, the Peer-reviewers should get fair rewards for their job, and the new and/or smaller Journals shouldn’t need to make the unequal fight for peer-reviewer with the bigs.
This system could be beneficial for everybody except for the monopolies.</p>
                        <h2>When?</h2>
                        <p>Soon! The journey has already begun.  The first step was to develop an <a href="https://mur2.co.uk/editor">editor </a> where it’s possible to write and collaborate on Articles.  The second step was to match unpublished Articles with potential peer-reviewers using AI, and the final step is to build a community around the μr² project. <a href="https://mur2.co.uk/auth/register">This is where you come in.</a></p>

                    </div>
                    <div id="details_page2" class="details menupage hidedetails">                      
                    </div>                    
                </div>
                <div id="foot"   > 
                    <a href="https://mur2.co.uk/reader/21" class="control-item">© 2020 μr²</a>
                    <a href="https://mur2.co.uk/private_policy" class="control-item">Privacy</a>
                </div>
            </div>
            <div class="menufont topmenu">
            </div>
            <div  class="info"  id="details"><a  onclick="details()" href="#">Details</a></div>
            <div id="maintext">  
                <!-- the first page -->
                <div id="pages">                    
                    <div id="page1" class="frontpages">
                        <div class="lapozo leftallow" ></div>
                        <div class="lapozo rightallow" ></div>
                        <div class="lapozo pagenumber" >1</div>
                    </div>
                    <div id="page2" class="frontpages hide">
                        <div class="lapozo leftallow" ></div>
                        <div class="lapozo rightallow" ></div>
                        <div class="lapozo pagenumber" >2</div>
                        <div class="info" id="demo"><a  onclick="details()" href="#">Demo</a></div>
                    </div>                   
                </div>
                
            </div>            
        </div><!-- horizontal_box -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1&privacyPage=https%3A%2F%2Fmur2.co.uk%2Fprivate_policy"></script>
        <script src="/static/js/mur2.js"></script> <!-- general mur2 javascripts -->
        <!-- the mouse action event -->
        <script>
            window.onload = function(){
                //adding the event listerner
                if(window.addEventListener)
                    document.addEventListener('wheel', moveObject, false);
            }
            // to keep track what page we are 
            var pageposition = 0;
            var currentpage = 1;
            
            // step between pages
            function moveObject(event){
                // this indacete which page we are
                var delta = 0;
                // how many page we have
                var pagenumber = 2;
                // how many roll a full page change
                // Prevously 12
                var onepage = 6 // can not be smaller than 4 as this is one mouse roll step
                
                if (!event) event = window.event;
                
                // normalize the delta
                if (event.wheelDelta) {
                    // IE and Opera
                    delta = event.wheelDelta ;
                } else if (event.deltaY) {
                    // W3C
                    if ( pageposition > pagenumber*onepage ) {
                        pageposition = pagenumber*onepage ;
                    } else if ( pageposition < 0 ) {
                        pageposition = 0;
                    } else {
                        pageposition += event.deltaY ;
                    }
                    
                }
                
                // set the page
                if ( ( pageposition > (currentpage*onepage)+1 || pageposition < (currentpage-1)*onepage ) && pageposition < pagenumber*onepage && pageposition > 1 ) {
                    // hide the previous page
                    var previos = document.getElementById("page"+currentpage);
                    previos.classList.add("hide");
                    // hide previous page details
                    hidedetails(currentpage);

                    
                    // step the page number
                    currentpage =  Math.floor( pageposition/onepage)+1;
                    
                    // show the next page
                    var next = document.getElementById("page"+currentpage);    
                    next.classList.remove("hide");
                }               

            };
            
            function hidedetails(details, side) {
                var detail = document.getElementById("details_page"+currentpage);
                var side = document.getElementById("side_menu");
                // hide details
                detail.classList.remove("showdetails");
                detail.classList.add("hidedetails");
                detail.setAttribute("style", "opacity:0;");
                side.setAttribute("style", "display:none;");
            }
            
            function details() {
                console.log(currentpage)
                var detail = document.getElementById("details_page"+currentpage);
                if (detail.classList.contains("hidedetails")) {
                    var side = document.getElementById("side_menu");
                    // show details
                    detail.classList.remove("hidedetails");
                    detail.classList.add("showdetails");
                    detail.setAttribute("style", "opacity:1;z-index: 1;");
                    side.setAttribute("style", "display:inline;z-index: 1;");
                } else {
                    hidedetails(currentpage)
                }
            }            
        </script>
    </body>        
</html>