<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8">
        {% if title %}
           {% if author %}
        <title>{{ author }}: {{ title }} </title>
           {% else %}
        <title>μr²: {{ title }} </title>
           {% endif %}
        {% else %}
        <title>μr²</title>
        {% endif %}       
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165583882-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-165583882-1');
        </script>

        
        <!-- style -->
        <link rel="stylesheet" href="/static/css/mur2.css">
        <link rel="stylesheet" href="/static/css/preview.css">
        <link rel="stylesheet" href="/static/css/mur2_front.css">
        {% include 'language_selector.html' %}
        
        {% block header %}{% endblock %}
    </head>
    <body class="result-as-html {{ language }} {{ request.endpoint }}">
        <!-- content -->
        <div id="horizontal_box">
            <input class="choice_menu control-input" id="id_side_menu" type="checkbox" name="source_type" >
            <div id="side_menu" class="menufont hide tran1">
                <div id="side_top">
                    <div id="user_username" class="menupage">μr²</div>
                    <div id="frontendimage" class="menupage"></div>
                    <div id="details_page1" class="details menupage">
                        <p><a onclick="hidedetails()" href="#">X</a></p>
                        Some more desription long long
                    </div>
                    <div id="details_page2" class="details menupage">
                        <p><a onclick="hidedetails()" href="#">X</a></p>
                        Some more desription long long 2
                    </div>
                </div>
                <div id="foot"   > 
                    <a href="https://mur2.co.uk/reader/21" class="control-item">© 2020 μr²</a>
                    <a href="https://mur2.co.uk/private_policy" class="control-item">Privacy</a>
                </div>
            </div>
            <div class="menufont topmenu">
            </div>
            <div id="msg" >
                <!-- print msg -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <!-- end msg -->
            </div>
            <div id="maintext">  
                <!-- the first page -->
                <div id="pages">
                    <div id="page1" class="frontpages">                        
                        <div class="pagetitle">
                            <h1>Title 1</h1>
                            <p>One sentence abstract1</p>
                            <a onclick="showdetails()" href="#">Learn more</a>
                        </div>
                        <div class="pagenumber">01</div>
                    </div>
                    <div id="page2" class="frontpages hide">                        
                        <div class="pagetitle">
                            <h1>Title 2</h1>
                            <p>One sentence abstract2</p>
                            <a onclick="showdetails()" href="#">Learn more</a>                            
                        </div>
                        <div class="pagenumber">02</div>
                    </div> 
                </div>

                <!-- fit username to box -->
                <script src="/static/js/TextFit/textFit.min.js"></script> 
                <script>
                    textFit(document.getElementById('user_username'), {minFontSize:10, maxFontSize: 164});
                </script>    
            </div>            
        </div><!-- horizontal_box -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1&privacyPage=https%3A%2F%2Fmur2.co.uk%2Fprivate_policy"></script>
        <script src="/static/js/mur2.js"></script> <!-- general mur2 javascripts -->
        <!-- the mouse action event -->
        <script>
            window.onload = function(){
                //adding the event listerner
                if(window.addEventListener)
                    document.addEventListener('wheel', moveObject, false);
            }
            // to keep track what page we are 
            var pageposition = 0;
            var currentpage = 1;
            
            // step between pages
            function moveObject(event){
                // this indacete which page we are
                var delta = 0;
                // how many page we have
                var pagenumber = 2;
                // how many roll a full page change
                var onepage = 12
                
                if (!event) event = window.event;
                
                // normalize the delta
                if (event.wheelDelta) {
                    // IE and Opera
                    delta = event.wheelDelta ;
                } else if (event.deltaY) {
                    // W3C
                    pageposition += event.deltaY ;
                }
                
                // set the page
                if ( ( pageposition > (currentpage*onepage)+1 || pageposition < (currentpage-1)*onepage ) && pageposition < pagenumber*onepage && pageposition > 1 ) {
                    // hide the previous page
                    var previos = document.getElementById("page"+currentpage);
                    previos.classList.add("hide");
                    // hide previous page details
                    hidedetails();

                    
                    // step the page number
                    currentpage =  Math.floor( pageposition/onepage)+1;
                    
                    // show the next page
                    var next = document.getElementById("page"+currentpage);    
                    next.classList.remove("hide");
                }               

            };
            
            // show details
            function showdetails() {
                console.log("run");
                var detail = document.getElementById("details_page"+currentpage);  
                if (detail.classList.contains("hidedetails")) {
                    detail.classList.remove("hidedetails");
                }
                detail.classList.add("showdetails");
                detail.setAttribute("style", "opacity:1;");
                
                var logo = document.getElementById("user_username");
                if (logo.classList.contains("showdetails")) {
                    logo.classList.remove("showdetails");
                }
                logo.classList.add("hidedetails");
                logo.setAttribute("style", "opacity:0;");
                var frontendimage = document.getElementById("frontendimage");
                if (frontendimage.classList.contains("showdetails")) {
                    frontendimage.classList.remove("showdetails");
                }
                frontendimage.classList.add("hidedetails");
                frontendimage.setAttribute("style", "opacity:0;");

            };
            
            // hide details
            function hidedetails() {
                // hide details
                var detail = document.getElementById("details_page"+currentpage);
                if (detail.classList.contains("showdetails")) {
                    detail.classList.remove("showdetails");
                    detail.classList.add("hidedetails");
                    detail.setAttribute("style", "opacity:0;");
                }                    
                                        
                // show logo 
                var logo = document.getElementById("user_username");
                if (logo.classList.contains("hidedetails")) {
                    logo.classList.remove("hidedetails");
                    logo.classList.add("showdetails");
                    logo.setAttribute("style", "");
                }
                                
            };
        </script>
    </body>        
</html>