<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8">
        {% if title %}
           {% if author %}
        <title>{{ author }}: {{ title }} </title>
           {% else %}
        <title>μr²: {{ title }} </title>
           {% endif %}
        {% else %}
        <title>μr²</title>
        {% endif %}       
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165583882-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-165583882-1');
        </script>

        
        <!-- style -->
        <link rel="stylesheet" href="/static/css/mur2.css">
        <link rel="stylesheet" href="/static/css/preview.css">
        <link rel="stylesheet" href="/static/css/mur2_front.css">
        {% include 'language_selector.html' %}
        
        {% block header %}{% endblock %}
    </head>
    <body class="result-as-html {{ language }} {{ request.endpoint }}">
        <!-- content -->
        <div id="horizontal_box">
            <input class="choice_menu control-input" id="id_side_menu" type="checkbox" name="source_type" >
            <div id="side_menu" class="menufont hide tran1">
                <div id="side_top">
                    <div id="details_page1" class="details menupage hidedetails">
                        <h2>Why?</h2>
                        <p>The academic publishing market dominated by a handful of large publishing companies.  At the same time, writers can feel a strong “publish or persist” pressure, readers suffer the high prices of access, and small Journals struggle to break into the market.</p>
                        <h2>How?</h2>
                        <p>The key to publishers dominance is the monopoly of the peer-review and this is where we are different.  With μr², peer-reviews happen before Journals receive the Article.<br>
                            Just imagine a huge resource of peer-reviewers online who filter the Articles before going to the publishers.  The Writers could offer they article to multiple Journals same time, the Peer-reviewers should get fair rewards for their job, and the new and/or smaller Journals shouldn’t need to make the unequal fight for peer-reviewer with the bigs.
This system could be beneficial for everybody except for the monopolies.</p>
                        <h2>When?</h2>
                        <p>Soon! The journey has already begun.  The first step was to develop an <a href="https://mur2.co.uk/editor">editor </a> where it’s possible to write and collaborate on Articles.  The second step was to match unpublished Articles with potential peer-reviewers using AI, and the final step is to build a community around the μr² project. <a href="https://mur2.co.uk/auth/register">This is where you come in.</a></p>

                    </div>
                    <div id="details_page2" class="details menupage hidedetails"> 
                        <h2></h2>
                        <p>Do you need an easy to use, a versatile and comprehensive text editor for academic writing with equations and diagrams? The μr² editor does exactly this by extending Markdown with LaTeX equation support.<br>
</br>Reasons to <a href="https://mur2.co.uk/editor">try our editor</a>:</p>
<ul>
<li>It’s fast; the simple formatting saves a significant amount of time over other word processors</li>
<li>It’s easy to learn; Markdown syntax is so simple one can barely call it “syntax”</li>
<li>The user interface is minimal, helping to focus on what you are writing</li>
<li>Fully supports LaTeX math input</li>
<li>Easily export your document to PDF, Microsoft Word, ePuB, LaTeX and HTML</li>
<li>Alternatively, publish your work directly to Wordpress.com, Medium.com or in our page</li>
</ul>
<p>The editor uses plain text formatting syntax aimed at making writing simple.  The philosophy behind it; a document should be readable without tags everywhere but still be able to add text modifiers such as lists, bold text and italics quickly.  Here’s a quick example; to emphasize words, you simply enclose them in * (asterisks). So, *emphasize word* would look like <em>emphasize word</em> in the final document. If you are new to Markdown or need help with the syntax do not worry.  You can use the toolbar controls within the editor or open up a Markdown cheatsheet from the menu.
</br>
</br>
Most academic articles are the result of shared effort by multiple Writers.  To help Writers work together the μr² supports collaborative real-time editing.  Any registered user can be invited to work on your document and you will be able to edit it simultaneously.</p>


                    </div>
                    <div id="details_page3" class="details menupage hidedetails"> 
                        <h2>Open-Access Article search engine</h2>
<p>Tens of thousands of Open-Access scientific Articles are published every year and this raises two questions:</p>
<ul>
<li>How can one easily keep up to date?</li>
<li>And how can one find good quality Articles in a sea of publications?</li>
</ul>
<p>Our search engine and Open-Acces Article database aims to answer these questions.</p>
<p>First, we make a strict selection of over 250 000 Articles from 430 Journals<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup> in <em>Math</em>, <em>AI</em>, <em>Biology</em> and <em>Geographical</em> areas.  This helps reduce “noise” and means that users only see good quality Articles.</p>
<p>Second, is our Artificial Intelligence running in the background.  It finds <a href="https://mur2.co.uk/oa_browser?type=start">related Articles</a> based on the contents of the abstract.  This leads to a much more accurate search experience than any keyword-based approach - <a href="https://search.mur2.co.uk">try it here</a>.  Moreover, if an Article is of interest, it can be subscribed to, and when a new article is published that the AI thinks is similar, you will receive an email notification. With this, you can keep up to date with minimal effort!</p>
<div class="separator"></div>
<section class="footnotes">
<ol class="footnotes-list">
<li id="fn1" class="footnote-item"><p>All of these Journals are in the Web of Science:  <em>Science Citation Index Expanded</em> or  <em>Emerging Sources Citation Index</em>. However, if you think a Journal is missing, please do not hesitate to contact us on our <a href="https://github.com/sajozsattila/Journal_monitor">Github project page</a>. <a href="#fnref1" class="footnote-backref">↩︎</a></p>
</li>
</ol>
                    </div>
                </div>
                <div id="foot"   > 
                    <a href="https://mur2.co.uk/reader/21" class="control-item">© 2020 μr²</a>
                    <a href="https://mur2.co.uk/private_policy" class="control-item">Privacy</a>
                </div>
            </div>
            <div class="menufont topmenu">
            </div>
            <div  class="info"  id="details"><a  onclick="details()" href="#">Details</a></div>
            <div id="maintext">  
                <!-- the first page -->
                <div id="pages">                    
                    <div id="page1" class="frontpages">
                        <div class="lapozo leftallow" onclick="lapozo(2)" ></div>
                        <div class="lapozo rightallow" onclick="lapozo(3)" ></div>
                        <div class="lapozo pagenumber" >1</div>
                    </div>
                    <div id="page2" class="frontpages hide">
                        <div class="lapozo leftallow" onclick="lapozo(3)" ></div>
                        <div class="lapozo rightallow" onclick="lapozo(1)" ></div>
                        <div class="lapozo pagenumber" >2</div>
                        <!-- <div class="info" id="demo"><a  onclick="details()" href="#">Demo</a></div> -->
                    </div> 
                    <div id="page3" class="frontpages hide">
                        <div class="lapozo leftallow" onclick="lapozo(1)" ></div>
                        <div class="lapozo rightallow" onclick="lapozo(2)" ></div>
                        <div class="lapozo pagenumber" >3</div>
                        <!-- <div class="info" id="demo"><a  onclick="details()" href="#">Demo</a></div> -->
                    </div> 
                </div>
                
            </div>            
        </div><!-- horizontal_box -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1&privacyPage=https%3A%2F%2Fmur2.co.uk%2Fprivate_policy"></script>
        <script src="/static/js/mur2.js"></script> <!-- general mur2 javascripts -->
        <!-- the mouse action event -->
        <script>
            window.onload = function(){
                //adding the event listerner
                if(window.addEventListener)
                    document.addEventListener('wheel', moveObject, false);
            }
            // to keep track what page we are 
            var pageposition = 0;
            var currentpage = 1;
            
            // go to the certain page
            function lapozo(newpage) {
                var previos = document.getElementById("page"+currentpage);
                previos.classList.add("hide");
                // hide previous page details
                hidedetails(currentpage);
                
                // step the page number
                currentpage =  newpage;
                    
                // show the next page
                var next = document.getElementById("page"+currentpage);    
                next.classList.remove("hide");
            }
            
            // step between pages
            function moveObject(event){
                // this indacete which page we are
                var delta = 0;
                // how many page we have
                var pagenumber = 3;
                // how many roll a full page change
                // Prevously 12
                var onepage = 6 // can not be smaller than 4 as this is one mouse roll step
                
                if (!event) event = window.event;
                
                // normalize the delta
                if (event.wheelDelta) {
                    // IE and Opera
                    delta = event.wheelDelta ;
                } else if (event.deltaY) {
                    // if detail page is open we not score
                    var detail = document.getElementById("details_page"+currentpage);
                    if ( ! detail.classList.contains("showdetails") ) {
                        // W3C
                        if ( pageposition > pagenumber*onepage ) {
                            pageposition = pagenumber*onepage ;
                        } else if ( pageposition < 0 ) {
                            pageposition = 0;
                        } else {
                            pageposition += event.deltaY ;
                        }
                    }                    
                }
                
                // set the page
                if ( ( pageposition > (currentpage*onepage)+1 || pageposition < (currentpage-1)*onepage ) && pageposition < pagenumber*onepage && pageposition > 1 ) {
                    // step the page number
                    lapozo(Math.floor( pageposition/onepage)+1)                    
                }               

            };
            
            function hidedetails(details, side) {
                var detail = document.getElementById("details_page"+currentpage);
                var side = document.getElementById("side_menu");
                // hide details
                detail.classList.remove("showdetails");
                detail.classList.add("hidedetails");
                detail.setAttribute("style", "display:none;");
                side.setAttribute("style", "display:none;");
            }
            
            function details() {
                console.log(currentpage)
                var detail = document.getElementById("details_page"+currentpage);
                if (detail.classList.contains("hidedetails")) {
                    var side = document.getElementById("side_menu");
                    // show details
                    detail.classList.remove("hidedetails");
                    detail.classList.add("showdetails");
                    detail.setAttribute("style", "display:inline;z-index: 1;");
                    side.setAttribute("style", "display:flex;z-index: 1;");
                } else {
                    hidedetails(currentpage)
                }
            }            
        </script>
    </body>        
</html>