{% extends "base.html" %}

{% block content %}
    <div id="maintitle">        
        {% if searchtype == "category" %}
        <h1>{{ _('Category') }}: {{ term }}</h1>
        <div><a href="/oa_browser?type=Category&object={{ term }}">{{ _("Category") }} {{ _("Discovery") }}</a></div>
        {% elif searchtype == "keyword" %}
        <h1>{{ _('Keyword') }}: {{ term }}</h1>
        <div><a href="/oa_browser?type=Keyword&object={{ term }}">{{ _("Keyword") }} {{ _("Discovery") }}</a></div>
        {% elif searchtype == "search" %}
        <h1>{{ _('Search') }}: {{ term }}</h1>
        {% endif %}
        {% if searchtype == "journal" %}
        <h1>{{ _('Journal') }}: {{ title }}</h1>
        <div><a href="/oa_browser?type=Journal&object={{ title }}">{{ _("Journal") }} {{ _("Discovery") }}</a></div>
        {% endif %}
    </div>
    
    {% for article in articles %}
        {% include 'article2.html' %}
    {% endfor %}

    <div id="lapozo"> 
        {% if nextlabel %}
        <a href="{{ url_for('main.keywords', searchtype=searchtype) }}?term={{ term }}&page={{page+1}}&pagesize={{pagesize}}">{{ _('Next') }}</a>
        {% else %}
        <p></p>        
        {% endif %}
        {% if beforelabel %}
        <a href="{{ url_for('main.keywords', searchtype=searchtype) }}?term={{ term }}&page={{page-1}}&pagesize={{pagesize}}">{{ _('Before') }}</a>
        {% else %}
        <p></p>
        {% endif %}        
    </div>

    <!-- math support with MathJax -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
    

{% endblock %}