		<div id="markdown_cheat_sheet">
			<div class="headmarkdowncs"><label class="toolbar fas fa-times" for="id_mcs" title="{{ _('Close Markdown cheatsheet') }}"></label></div>
			<h3>{{ _('Headers') }}</h3>
			<pre># {{ _('Header 1') }}
## {{ _('Header 2') }}
### {{ _('Header 3') }}</pre>
			<h3>{{ _('Styling') }}</h3>  <span class="inputfont"><p>
                 <span class="hljs-emphasis"><em>*{{ _('Emphasize') }}*</em></span>  <span class="hljs-emphasis"><em>_{{ _('emphasize') }}_</em></span>
			</p>
			<p> <span class="hljs-strong"><strong>__{{ _('Strong') }}__</strong></span>  <span class="hljs-strong"><strong>**{{ _('Strong') }}**</strong></span>
			</p>
			<p><s>~~{{ _('Mistaken text.') }}~~</s>
			</p>
			<p><span class="hljs-quote">&gt; {{ _('Quoted text.') }}</span>
			</p>
			<p>H<sub>~2~</sub>O {{ _('is a liquid.') }}</p>
			<p>2<sup>^10^</sup> {{ _('is 1024.') }}</p>
			</span>
			<h3>{{ _('Lists') }}</h3>
			<pre>
    <span class="list-mark  block-start" data-line="3">- </span><span class="list " data-line="3">{{ _('Item') }}
        </span><span class="list-mark  block-start" data-line="1">* </span><span class="list " data-line="3">{{ _('Item') }}
            + {{ _('Item') }}</span>
             
    <span class="list-mark  block-start" data-line="1">1. </span><span class="list " data-line="2">{{ _('Item 1') }}
    </span><span class="list-mark  block-start" data-line="1">1. </span><span class="list " data-line="2">{{ _('Item 2') }} </span>   
    
    <span class="list-mark  block-start" data-line="2">52. </span><span class="list " data-line="1">{{ _('Item 52') }}
    </span><span class="list-mark  block-start" data-line="1">1. </span><span class="list " data-line="4">{{ _('Item 53') }}</span>
</pre>
			<h3>{{ _('Links') }}</h3>
			<p >[{{ _('A link') }}](http://example.com).</p>
			<p>{{ _('An image') }}: ![alt](http://example.com &quot;{{ _('title') }}&quot;)</p>
			<h3>{{ _('Code') }}</h3>
			<p >{{ _('Some `inline code`.') }}</p> <pre>```python
# {{ _('An highlighted block') }}
print("{{ _('This is block code') }}");
```
</pre>
			<h3>{{ _('Tables') }}</h3>
            <pre >
| p | q | ¬pv¬q |
|--|--|--|
| {{ _('True') }} | {{ _('True') }} | {{ _('False') }} |
| {{ _('True') }} | {{ _('False') }} | {{ _('True') }} |
| {{ _('False') }} | {{ _('True') }} | {{ _('True') }} |
| {{ _('False') }} | {{ _('False') }} | {{ _('False') }} |


| {{ _('Column 1') }} | {{ _('Column 2') }} | {{ _('Column 3') }} |
|:--------|:--------:|-------------:|
| {{ _('left-aligned') }} | {{ _('centered') }} | {{ _('right-aligned') }} |
</pre>
			<h3>{{ _('Footnotes') }}</h3>
			<pre >{{ _('Some text with footnote.') }}^[{{ _('The footnote') }}]</pre>
			<h3>{{ _('LaTeX math') }}</h3>
			<p >{{ _('Fundamentally, Euler\'s identity asserts that') }} $$ e^{i\pi} $$ {{ _('is equal to −1. But most of time they write as') }}:</p><pre>

$$ \text{ {{ _('Euler\'s identity:') }} } e^{i \pi } + 1 = 0 $$
             </pre>
		</div>

